.mip-article-comments{
  
.comments {
        padding-left: 0;
        margin-bottom: 0;
        .comment {
          padding: 10px;
          list-style: none;
          border-bottom: 1px dashed #efefef;
          &.comment-none {
              background-color: #F9F9F9;
          }
          .comment-img {
            width: 45px;
            float: left;
            height: 45px;
            display: block;
            position: relative;
             img {
             width:100%;
              border-radius: 50% !important;
            }
          }
          .comment-body {
            padding-left: 20px;
            position: relative;
            overflow:hidden;
      
            .comment-info {
              &:before{
                content: " ";
                  display: table; 
              }
              &:after{
                content: " ";
                  display: table;
                  clear: both;
              }
              .comment-author {
                display: inline-block;
                float: left;  
                margin: 0px 0px 10px 0;
                color:#060606;
                font-weight: 600;
              }
      
              .comment-date {
                display: inline-block;
                float:right;
                margin: 0px;
                color:#BABABA;
              }
            }
            .comment-text {
              color: darken(#BFBFBF, 15%);
            }
      
            .comment-details {
              margin:10px 0px 0px 0; 
              min-height: 30px;  
              
              .comment-status {
                text-transform: uppercase;
                float: left;
      
                &.comment-status-pending {
                  color:#B8C0F5;            
                }
      
                &.comment-status-approved {
                  color:#6BD873;
                }
      
                &.comment-status-rejected {
                  color:red;
                }
              }
      
              .comment-actions {
                display: none;
                list-style: none;
                margin: 0;
                padding: 0;
                float: right;
      
                > li {
                  float: left;
                  padding: 0 5px;
                  margin: 0;
      
                  > a {
                    text-transform: uppercase;
                    color: #999999;
      
                    &:hover {
                      color: darken(#999999, 20%);
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
      
          &:hover {
            background: #f9f9f9;  
      
            .comment-body {
              .comment-details {
                .comment-actions {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    
}