.mip-footer{margin-bottom: 20px;}
.mip-footer p{margin:0}
.friend-link {
    text-align: center;
    margin-bottom: 15px;
    text-align: center;
}
.friend-link ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    display: inline-block;
}
.friend-link li {
    float: left;
    margin: 0 5px;
}
.friend-link a{
}