.images-item {
        margin-top: 10px;
    margin-left: 10px;
}
.images-item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.images-item .item-list {
    overflow: hidden;
    margin-bottom: 5px;
    width: 50%;
    float: none;
    display: inline-block;
    padding-right: 10px;
    text-align: center;
}
.images-item .item-list mip-link {
    position: relative;
}
.images-item .item-list .mip-replaced-content {
    padding: 0 !important;
    border: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    height: auto;
}