
.mui-badge {
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    padding: 3px 6px;
    color: #333;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, .15)
}

.mui-badge.mui-badge-inverted {
    padding: 0 5px 0 0;
    color: #929292;
    background-color: transparent
}

.mui-badge-blue,
.mui-badge-primary {
    color: #fff;
    background-color: #007aff
}

.mui-badge-blue.mui-badge-inverted,
.mui-badge-primary.mui-badge-inverted {
    color: #007aff;
    background-color: transparent
}

.mui-badge-green,
.mui-badge-success {
    color: #fff;
    background-color: #4cd964
}

.mui-badge-green.mui-badge-inverted,
.mui-badge-success.mui-badge-inverted {
    color: #4cd964;
    background-color: transparent
}

.mui-badge-warning,
.mui-badge-yellow {
    color: #fff;
    background-color: #f0ad4e
}

.mui-badge-warning.mui-badge-inverted,
.mui-badge-yellow.mui-badge-inverted {
    color: #f0ad4e;
    background-color: transparent
}

.mui-badge-danger,
.mui-badge-red {
    color: #fff;
    background-color: #dd524d
}

.mui-badge-danger.mui-badge-inverted,
.mui-badge-red.mui-badge-inverted {
    color: #dd524d;
    background-color: transparent
}

.mui-badge-purple,
.mui-badge-royal {
    color: #fff;
    background-color: #8a6de9
}

.mui-badge-purple.mui-badge-inverted,
.mui-badge-royal.mui-badge-inverted {
    color: #8a6de9;
    background-color: transparent
}

.mui-icon .mui-badge {
    font-size: 10px;
    line-height: 1.4;
    position: absolute;
    top: -2px;
    left: 100%;
    margin-left: -10px;
    padding: 1px 5px;
    color: #fff;
    background: red
}