
.mui-bar-nav~.mui-content {
    padding-top: 44px
}

.mui-bar-nav~.mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    top: 44px
}

.mui-bar-header-secondary~.mui-content {
    padding-top: 88px
}

.mui-bar-header-secondary~.mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    top: 88px
}

.mui-bar-footer~.mui-content {
    padding-bottom: 44px
}

.mui-bar-footer~.mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    bottom: 44px
}

.mui-bar-footer-secondary~.mui-content {
    padding-bottom: 88px
}

.mui-bar-footer-secondary~.mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    bottom: 88px
}

.mui-bar-tab~.mui-content {
    padding-bottom: 50px
}

.mui-bar-tab~.mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    bottom: 50px
}

.mui-bar-footer-secondary-tab~.mui-content {
    padding-bottom: 94px
}

.mui-bar-footer-secondary-tab~.mui-content.mui-scroll-wrapper .mui-scrollbar-vertical {
    bottom: 94px
}

.mui-bar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
   
}

.mui-bar .mui-title {
    right: 40px;
    left: 40px;
    display: inline-block;
    overflow: hidden;
    width: auto;
    margin: 0;
    text-overflow: ellipsis
}

.mui-bar .mui-backdrop {
    background: 0 0
}

.mui-bar-header-secondary {
    top: 44px
}

.mui-bar-footer {
    bottom: 0
}

.mui-bar-footer-secondary {
    bottom: 44px
}

.mui-bar-footer-secondary-tab {
    bottom: 50px
}

.mui-bar-footer,
.mui-bar-footer-secondary,
.mui-bar-footer-secondary-tab {
    border-top: 0
}

.mui-bar-transparent {
    top: 0;
    background-color: rgba(247, 247, 247, 0);
    -webkit-box-shadow: none;
    box-shadow: none
}

.mui-bar-nav {
    top: 0;
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='1'><rect fill='#c8c7cc' x='0' y='0.5' width='100%' height='0.5'/></svg>");
    background-repeat: no-repeat;
    background-position: 0 100%, 0 0;
}

.mui-bar-nav~.mui-content .mui-anchor {
    display: block;
    visibility: hidden;
    height: 45px;
    margin-top: -45px
}

.mui-bar-nav.mui-bar .mui-icon {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px
}

.mui-title {
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    position: absolute;
    display: block;
    width: 100%;
    margin: 0 -10px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    color: #000
}

.mui-title a {
    color: inherit
}

.mui-bar-tab {
    bottom: 0;
    display: table;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    -webkit-touch-callout: none
}

.mui-bar-tab .mui-tab-item {
    display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292
}

.mui-bar-tab .mui-tab-item.mui-active {
    color: #007aff
}

.mui-bar-tab .mui-tab-item .mui-icon {
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0
}

.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label {
    font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}

.mui-bar-tab .mui-tab-item .mui-icon:active {
    background: 0 0
}

.mui-focusin>.mui-bar-header-secondary,
.mui-focusin>.mui-bar-nav {
    position: absolute
}

.mui-focusin>.mui-bar~.mui-content {
    padding-bottom: 0
}

.mui-bar .mui-btn {
    font-weight: 400;
    position: relative;
    z-index: 20;
    top: 7px;
    margin-top: 0;
    padding: 6px 12px 7px
}

.mui-bar .mui-btn.mui-pull-right {
    margin-left: 10px
}

.mui-bar .mui-btn.mui-pull-left {
    margin-right: 10px
}

.mui-bar .mui-btn-link {
    font-size: 16px;
    line-height: 44px;
    top: 0;
    padding: 0;
    color: #007aff;
    border: 0
}

.mui-bar .mui-btn-link.mui-active,
.mui-bar .mui-btn-link:active {
    color: #0062cc
}

.mui-bar .mui-btn-block {
    font-size: 16px;
    top: 6px;
    margin-bottom: 0;
    padding: 5px 0
}

.mui-bar .mui-btn-nav.mui-pull-left {
    margin-left: -5px
}

.mui-bar .mui-btn-nav.mui-pull-left .mui-icon-left-nav {
    margin-right: -3px
}

.mui-bar .mui-btn-nav.mui-pull-right {
    margin-right: -5px
}

.mui-bar .mui-btn-nav.mui-pull-right .mui-icon-right-nav {
    margin-left: -3px
}

.mui-bar .mui-btn-nav:active {
    opacity: .3
}

.mui-bar .mui-icon {
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px
}

.mui-bar .mui-icon:active {
    opacity: .3
}

.mui-bar .mui-btn .mui-icon {
    top: 1px;
    margin: 0;
    padding: 0
}

.mui-bar .mui-title .mui-icon {
    margin: 0;
    padding: 0
}

.mui-bar .mui-title .mui-icon.mui-icon-caret {
    top: 4px;
    margin-left: -5px
}

.mui-bar input[type=search] {
    height: 29px;
    margin: 6px 0
}

.mui-bar .mui-input-row .mui-btn {
    padding: 12px 10px
}

.mui-bar .mui-search:before {
    margin-top: -10px
}

.mui-bar .mui-input-row .mui-input-clear~.mui-icon-clear,
.mui-bar .mui-input-row .mui-input-speech~.mui-icon-speech {
    top: 0;
    right: 12px
}

.mui-bar.mui-bar-header-secondary .mui-input-row .mui-input-clear~.mui-icon-clear,
.mui-bar.mui-bar-header-secondary .mui-input-row .mui-input-speech~.mui-icon-speech {
    top: 0;
    right: 0
}

.mui-bar .mui-segmented-control {
    top: 7px;
    width: auto;
    margin: 0 auto
}

.mui-bar.mui-bar-header-secondary .mui-segmented-control {
    top: 0
}