
.mui-card {
    font-size: 14px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background-clip: padding-box;
}

.mui-content>.mui-card:first-child {
    margin-top: 15px
}

.mui-card .mui-input-group .mui-input-row:last-child:after,
.mui-card .mui-input-group .mui-input-row:last-child:before,
.mui-card .mui-input-group:after,
.mui-card .mui-input-group:before {
    height: 0
}

.mui-card .mui-table-view {
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 6px
}

.mui-card .mui-table-view .mui-table-view-cell:first-child,
.mui-card .mui-table-view .mui-table-view-divider:first-child {
    top: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.mui-card .mui-table-view .mui-table-view-cell:last-child,
.mui-card .mui-table-view .mui-table-view-divider:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px
}

.mui-card .mui-table-view:after,
.mui-card .mui-table-view:before,
.mui-card>.mui-table-view>.mui-table-view-cell:last-child:after,
.mui-card>.mui-table-view>.mui-table-view-cell:last-child:before {
    height: 0
}

.mui-card-footer,
.mui-card-header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    min-height: 44px;
    padding: 10px 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.mui-card-footer .mui-card-link,
.mui-card-header .mui-card-link {
    line-height: 44px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 44px;
    margin-top: -10px;
    margin-bottom: -10px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    text-decoration: none;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.mui-card-footer:before,
.mui-card-header:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc
}

.mui-card-header {
    font-size: 17px;
    border-radius: 2px 2px 0 0
}

.mui-card-header:after {
    top: auto;
    bottom: 0
}

.mui-card-header>img:first-child {
    font-size: 0;
    line-height: 0;
    float: left;
    width: 34px;
    height: 34px
}

.mui-card-footer {
    color: #6d6d72;
    border-radius: 0 0 2px 2px
}

.mui-card-content {
    font-size: 14px;
    position: relative
}

.mui-card-content-inner {
    position: relative;
    padding: 15px
}

.mui-card-media {
    vertical-align: bottom;
    color: #fff;
    background-position: center;
    background-size: cover
}

.mui-card-header.mui-card-media {
    display: block;
    padding: 10px
}

.mui-card-header.mui-card-media .mui-media-body {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 0;
    margin-left: 44px;
    color: #333
}

.mui-card-header.mui-card-media .mui-media-body p {
    font-size: 13px;
    margin-bottom: 0
}