
.mui-progressbar {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 2px;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    vertical-align: middle;
    border-radius: 2px;
    background: #b6b6b6;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.mui-progressbar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 150ms;
    transition: 150ms;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    background: #007aff
}

.mui-progressbar.mui-progressbar-infinite:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation: mui-progressbar-infinite 1s linear infinite;
    animation: mui-progressbar-infinite 1s linear infinite;
    background: #007aff
}

body>.mui-progressbar {
    position: absolute;
    z-index: 10000;
    top: 44px;
    left: 0;
    border-radius: 0
}

.mui-progressbar-in {
    -webkit-animation: mui-progressbar-in 300ms forwards;
    animation: mui-progressbar-in 300ms forwards
}

.mui-progressbar-out {
    -webkit-animation: mui-progressbar-out 300ms forwards;
    animation: mui-progressbar-out 300ms forwards
}

@-webkit-keyframes mui-progressbar-in {
    from {
        -webkit-transform: scaleY(0);
        opacity: 0
    }
    to {
        -webkit-transform: scaleY(1);
        opacity: 1
    }
}

@keyframes mui-progressbar-in {
    from {
        transform: scaleY(0);
        opacity: 0
    }
    to {
        transform: scaleY(1);
        opacity: 1
    }
}

@-webkit-keyframes mui-progressbar-out {
    from {
        -webkit-transform: scaleY(1);
        opacity: 1
    }
    to {
        -webkit-transform: scaleY(0);
        opacity: 0
    }
}

@keyframes mui-progressbar-out {
    from {
        transform: scaleY(1);
        opacity: 1
    }
    to {
        transform: scaleY(0);
        opacity: 0
    }
}

@-webkit-keyframes mui-progressbar-infinite {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0) scaleX(.5)
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0) scaleX(.5)
    }
}

@keyframes mui-progressbar-infinite {
    0% {
        transform: translate3d(-50%, 0, 0) scaleX(.5)
    }
    100% {
        transform: translate3d(100%, 0, 0) scaleX(.5)
    }
}
