
.mui-btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    cursor: pointer;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    background-clip: padding-box
}

.mui-btn.mui-active:enabled,
.mui-btn:enabled:active,
button.mui-active:enabled,
button:enabled:active,
input[type=button].mui-active:enabled,
input[type=button]:enabled:active,
input[type=reset].mui-active:enabled,
input[type=reset]:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
    color: #fff;
    background-color: #929292
}

.mui-btn.mui-disabled,
.mui-btn:disabled,
button.mui-disabled,
button:disabled,
input[type=button].mui-disabled,
input[type=button]:disabled,
input[type=reset].mui-disabled,
input[type=reset]:disabled,
input[type=submit].mui-disabled,
input[type=submit]:disabled {
    opacity: .6
}

.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
    color: #fff;
    border: 1px solid #007aff;
    background-color: #007aff
}

.mui-btn-blue.mui-active:enabled,
.mui-btn-blue:enabled:active,
.mui-btn-primary.mui-active:enabled,
.mui-btn-primary:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
    color: #fff;
    border: 1px solid #0062cc;
    background-color: #0062cc
}

.mui-btn-green,
.mui-btn-positive,
.mui-btn-success {
    color: #fff;
    border: 1px solid #4cd964;
    background-color: #4cd964
}

.mui-btn-green.mui-active:enabled,
.mui-btn-green:enabled:active,
.mui-btn-positive.mui-active:enabled,
.mui-btn-positive:enabled:active,
.mui-btn-success.mui-active:enabled,
.mui-btn-success:enabled:active {
    color: #fff;
    border: 1px solid #2ac845;
    background-color: #2ac845
}

.mui-btn-warning,
.mui-btn-yellow {
    color: #fff;
    border: 1px solid #f0ad4e;
    background-color: #f0ad4e
}

.mui-btn-warning.mui-active:enabled,
.mui-btn-warning:enabled:active,
.mui-btn-yellow.mui-active:enabled,
.mui-btn-yellow:enabled:active {
    color: #fff;
    border: 1px solid #ec971f;
    background-color: #ec971f
}

.mui-btn-danger,
.mui-btn-negative,
.mui-btn-red {
    color: #fff;
    border: 1px solid #dd524d;
    background-color: #dd524d
}

.mui-btn-danger.mui-active:enabled,
.mui-btn-danger:enabled:active,
.mui-btn-negative.mui-active:enabled,
.mui-btn-negative:enabled:active,
.mui-btn-red.mui-active:enabled,
.mui-btn-red:enabled:active {
    color: #fff;
    border: 1px solid #cf2d28;
    background-color: #cf2d28
}

.mui-btn-purple,
.mui-btn-royal {
    color: #fff;
    border: 1px solid #8a6de9;
    background-color: #8a6de9
}

.mui-btn-purple.mui-active:enabled,
.mui-btn-purple:enabled:active,
.mui-btn-royal.mui-active:enabled,
.mui-btn-royal:enabled:active {
    color: #fff;
    border: 1px solid #6641e2;
    background-color: #6641e2
}

.mui-btn-grey {
    color: #fff;
    border: 1px solid #c7c7cc;
    background-color: #c7c7cc
}

.mui-btn-grey.mui-active:enabled,
.mui-btn-grey:enabled:active {
    color: #fff;
    border: 1px solid #acacb4;
    background-color: #acacb4
}

.mui-btn-outlined {
    background-color: transparent
}

.mui-btn-outlined.mui-btn-blue,
.mui-btn-outlined.mui-btn-primary {
    color: #007aff
}

.mui-btn-outlined.mui-btn-green,
.mui-btn-outlined.mui-btn-positive,
.mui-btn-outlined.mui-btn-success {
    color: #4cd964
}

.mui-btn-outlined.mui-btn-warning,
.mui-btn-outlined.mui-btn-yellow {
    color: #f0ad4e
}

.mui-btn-outlined.mui-btn-danger,
.mui-btn-outlined.mui-btn-negative,
.mui-btn-outlined.mui-btn-red {
    color: #dd524d
}

.mui-btn-outlined.mui-btn-purple,
.mui-btn-outlined.mui-btn-royal {
    color: #8a6de9
}

.mui-btn-outlined.mui-btn-blue:enabled:active,
.mui-btn-outlined.mui-btn-danger:enabled:active,
.mui-btn-outlined.mui-btn-green:enabled:active,
.mui-btn-outlined.mui-btn-negative:enabled:active,
.mui-btn-outlined.mui-btn-positive:enabled:active,
.mui-btn-outlined.mui-btn-primary:enabled:active,
.mui-btn-outlined.mui-btn-purple:enabled:active,
.mui-btn-outlined.mui-btn-red:enabled:active,
.mui-btn-outlined.mui-btn-royal:enabled:active,
.mui-btn-outlined.mui-btn-success:enabled:active,
.mui-btn-outlined.mui-btn-warning:enabled:active,
.mui-btn-outlined.mui-btn-yellow:enabled:active {
    color: #fff
}

.mui-btn-link {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #007aff;
    border: 0;
    background-color: transparent
}

.mui-btn-link.mui-active:enabled,
.mui-btn-link:enabled:active {
    color: #0062cc;
    background-color: transparent
}

.mui-btn-block {
    font-size: 18px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 0
}

.mui-btn .mui-badge {
    font-size: 14px;
    margin: -2px -4px -2px 4px;
    background-color: rgba(0, 0, 0, .15)
}

.mui-btn .mui-badge-inverted,
.mui-btn:enabled:active .mui-badge-inverted {
    background-color: transparent
}

.mui-btn-negative:enabled:active .mui-badge-inverted,
.mui-btn-positive:enabled:active .mui-badge-inverted,
.mui-btn-primary:enabled:active .mui-badge-inverted {
    color: #fff
}

.mui-btn-block .mui-badge {
    position: absolute;
    right: 0;
    margin-right: 10px
}

.mui-btn .mui-icon {
    font-size: inherit
}

.mui-btn.mui-icon {
    font-size: 14px;
    line-height: 1.42
}

.mui-btn.mui-fab {
    width: 56px;
    height: 56px;
    padding: 16px;
    border-radius: 50%;
    outline: 0
}

.mui-btn.mui-fab.mui-btn-mini {
    width: 40px;
    height: 40px;
    padding: 8px
}

.mui-btn.mui-fab .mui-icon {
    font-size: 24px;
    line-height: 24px;
    width: 24px;
    height: 24px
}

.mui-btn .mui-spinner {
    width: 14px;
    height: 14px;
    vertical-align: text-bottom
}

.mui-btn-block .mui-spinner {
    width: 22px;
    height: 22px
}