{extend name="main/main"/}

{block name="title"}登录{$mipInfo['titleSeparator']}{__block__}{/block}
{block name='keywords'}登录{/block}
{block name='description'}登录{/block}

{block name="link"}{__block__}
    <link rel="stylesheet" type="text/css" href="/{$assets}/{$tplName}/css/account/login.css"/>
{/block}
{block name="style"}{__block__}{/block}

{block name="main"}
<div class="container" id="app">
    <div class="row login">
        <aside class="col-lg-5 login-reg-right">
            <section class="login-reg" :class="show">
                <h3 class="mip-reg-heading">账号登录</h3>
                <div class="mip-reg-body">
                    <el-form ref="ruleForm" :rules="rules" :model="ruleForm" label-width="90px">
                        <el-form-item label="账号" prop="username">
                            <el-input v-model="ruleForm.username" placeholder="用户名/手机/邮箱"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="password">
                            <el-input type="password" v-model="ruleForm.password" placeholder="请输入密码"></el-input>
                        </el-form-item>
                        <el-form-item label="验证码" prop="captcha"  @keyup.enter.native="submitForm('ruleForm')">
                            <div>
                                <el-input class="captcha" v-model="ruleForm.captcha" placeholder="4位字符">
                                    <template slot="append"><img @click="refreshCaptcha" :src="captchaImg" alt="点击刷新" /></template>
                                </el-input>
                            </div>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" class="w-100" @click="submitForm('ruleForm')">登录</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </section>
        </aside>
    </div>
</div>
<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 100%; width: 100%; z-index: -999999; position: fixed;">
    <img src="/{$assets}/{$tplName}/images/account/bg_1.jpg">
</div>
{/block}

{block name="script"}<script src="https://cdn.staticfile.org/blueimp-md5/2.7.0/js/md5.min.js" type="text/javascript" charset="utf-8"></script>{__block__}
<script src="/{$assets}/{$tplName}/js/account/login.js" type="text/javascript" charset="utf-8"></script>
{/block}
