  .news-list {
    list-style: none;
    padding: 10px;
        &:after {
            height: 0;
            visibility: hidden;
            clear: both;
            overflow: hidden;
            display: block;
            content: "clear";
        }
        .news-list-img {
            float: left;
            width: 121px;
            height: 75px;
            position: relative;
            display: inline-block;
            overflow: hidden;
            box-sizing: border-box;
            .mip-layout-container{
               position: initial;
                img {
                    min-width: auto;
                    max-width: inherit;
                    position: absolute;
                    top: 50%;
                    left: 50%;    
                    transform: translate(-50%,-50%);
                    transition: all 0.2s linear;
                 }
            }
        }
        .news-list-content.hasImg{
            margin-left: 131px;
        }
        .news-list-content {
            height: 80px;
            position: relative;
             .title {
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
            }
            p {
                position: absolute;
                bottom: 0px;
                left: 0;
                color:#888;
                margin-bottom: 0;
            }
        }
        a {
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
      }
      
  }
  
  
  
  
  
