.mui-bar {
  padding-left: 0;
}

.mip-history-default {
  margin: 0 !important;
}

.mipcms-back {
  padding: 10px;
  height: 44px;
  width: 50px;
  float: left;
  z-index: 9999;
  position: relative;
  left: 0;
}

.mipcms-back a {
  height: 44px;
  width: 50px;
}

.mipcms-back .back {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAz0lEQVRIS+3UwQ3CMBBE0b8dUAIlhA6gA6gAURGUQCehA+gAqACoYJElR1rlYHsdK6f4lEOkp5mJI8xwZAaDBUFVO+AMHETkm6q9qq4I9MAb2DZHvEBI6EpSA7gQA/yALleR3agoiQHC+2GDh+d+ZZGpQLYuVV0D97idO8GQNplEVa/AETiJSHiuOjlkBbwABXbeLYqShJfiJrcpUHb4FlARMoI+wKb5PRm6NdU940bJH2PxJuPPqQYqrstiXqgKMRtdgH1un2rEcysXxNMWf3gyYBpjw//3AAAAAElFTkSuQmCC);
}

.mipcms-back .home {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABXUlEQVRIS+2V603DQBCEZyrAHRA6oAOgA+iAdBAqSOiADqCD0AGhAijB6YBUMGisjXQ+/LgY5F+cFCVy1vftzN7uETMszsDASRBJlwC2AO5IfpYmWAwJwBuAA4AzADeloCKIpFsAzwAeSL5IWgHYALgH4N9XmapHkv6/WaMQSd7IgKUBxxcHnu8A7IohfRsNgSSVQwLwZEtIvvYVOYlbhZVlEEm2xXW4LiluHApvblv3AOo0sR81ORWQWOfjbdCW5DJV3oJMBYyBGoikKqRehEVfpY2Wx4V1tvvjqIgBcJMZ6BpMBiSKnLStU9O0knxyFgbEd0XSAZOWJO/jROsA1YYsSPqBbXOXWo0DJ620T8KlKi/8n0I6x0qfEqsFcN4h7ZD30WjHD0CscN0Bec+t/S0E6dAbSGh4rIwo+Ye0L6057eo6RT5YrSs1EiqKzZvR/eBP1/Id0UyGmA7Fsd9euSEAiW2CjQAAAABJRU5ErkJggg==);
}

.mipcms-back.mip-layout-container {
  background-color: transparent;
  display: inline-block;
}
