{extend name="./app/admin/view/main.html" /}
{block name="title"}熊掌号信息设置 - {__block__}{/block}
{block name="style"}
<style>
</style>
{/block}

{block name="main"}
<header class="mipcms-container-header">
    <div class="float-left header-group">
        <h4 class="title">熊掌号</h4> <h5 class="sub-title">开发者设置</h5>
    </div>
</header>

<main class="mipcms-container-body" style="height: calc(100% - 50px)">

<section class="mip-box">
    <section class="mip-box-heading">
        <h3>熊掌号开发信息</h3>
    </section>
    <section class="mip-box-body">
        <div class="row">
            <div class="col-md-6">
                <i-form label-position="top">
                    <Form-Item label="开发者ID ClientId">
                        <i-input v-model="setting.baiduXZClientId"></i-input>
                    </Form-Item>
                    <Form-Item label="开发者密码 ClientSecret">
                        <i-input :type='password' v-model="setting.baiduXZClientSecret">
                             <i-Button slot="append" @click='show'>切换显示状态</i-Button>
                        </i-input>
                    </Form-Item>
                    <Form-Item label="网页授权域名">
                        <i-input v-model="setting.baiduXZRedirectUri"></i-input>
                    </Form-Item>
                </i-form>
                <button type="button" class="ivu-btn ivu-btn-primary ivu-btn-circle" @click='onSubmitSetting'>
                    <span>请先点击保存</span>
                </button>
                            
                <button type="button" class="ivu-btn ivu-btn-primary ivu-btn-circle" @click='test'>
                    <span>测试配置信息</span>
                </button>
            </div>
            <div class="col-md-6">
                <i-form label-position="top">
                    <Form-Item label="备注说明：">
                        请去熊掌号运营平台 基本设置中获取<br>{{codeDemo}}
                    </Form-Item>
                </i-form>

            </div>
        </div>
    </section>
</section>

<section class="mip-box">
    <section class="mip-box-heading">
        <h3>熊掌号服务器配置</h3>
    </section>
    <section class="mip-box-body">
        <div class="row">
            <div class="col-md-6">
                <i-form label-position="top">
                    <Form-Item label="令牌 Token">
                        <i-input v-model="setting.baiduXZToken"></i-input>
                    </Form-Item>
                </i-form>
                <button type="button" class="ivu-btn ivu-btn-primary ivu-btn-circle" @click='onSubmitSetting'>
                    <span>立即保存</span>
                </button>
            </div>
            <div class="col-md-6">
                <i-form label-position="top">
                    <Form-Item label="备注说明：">
                        请去熊掌号运营平台 基本设置->服务器配置<br>配置服务器地址：{{codeUrl}}
                    </Form-Item>
                </i-form>

            </div>
        </div>
    </section>
</section>
</main>
{/block}
    
{block name="javascript"}
{__block__}
<script>
    new Vue({
        el: '#app',
        data: {
            setting: {},
            password: 'password',
            codeDemo: 'https://xiongzhang.baidu.com/mp/dashboard/devsetting',
            codeUrl: 'http://域名/xiongZhang/ApiUserXiongZhang/configAccess',
        },
        watch: {
        },
        mounted() {
            
            this.getSettingData();
        },
        methods: {
            test() {
                this.$mip.ajax('{$domain}/xiongzhang/ApiAdminXiongZhangSetting/testKey', {
                }).then(res => {
                    if(res.code == 1) {
                        this.$Message.success(res.msg);
                    }
                });
            },
            show() {
                if (this.password) {
                    this.password = '';
                } else {
                    this.password = 'password';
                }
            },
            onSubmitSetting: function() {
                this.$mip.ajax('{$domain}/xiongzhang/ApiAdminXiongZhangSetting/settingEdit', {
                    setting: JSON.stringify(this.setting),
                }).then(res => {
                    if(res.code == 1) {
                        this.$Message.success('保存成功');
                        this.getSettingData();
                    }
                });
            },
            getSettingData: function() {
                this.loading = true;
                this.$mip.ajax('{$domain}/xiongzhang/ApiAdminXiongZhangSetting/settingList', {

                }).then(res => {
                    this.loading = false;
                    if(res.code == 1) {
                        var temp = res.data;
                        this.setting = temp;
                    }
                });
            },

        }
    })
  </script>
{/block}