
.mui-slider {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    border-bottom: 0
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc
}

.mui-slider .mui-slider-group {
    font-size: 0;
    position: relative;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
    white-space: nowrap
}

.mui-slider .mui-slider-group .mui-slider-item {
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    white-space: normal
}

.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
    line-height: 0;
    position: relative;
    display: block
}

.mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%
}

.mui-slider .mui-slider-group .mui-slider-item .mui-table-view:after,
.mui-slider .mui-slider-group .mui-slider-item .mui-table-view:before {
    height: 0
}

.mui-slider .mui-slider-group.mui-slider-loop {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
}

.mui-slider-title {
    line-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    margin: 0;
    text-align: left;
    text-indent: 12px;
    opacity: .8;
    background-color: #000
}

.mui-slider-indicator {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background: 0 0
}

.mui-slider-indicator.mui-segmented-control {
    position: relative;
    bottom: auto
}

.mui-slider-indicator .mui-indicator {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 1px 6px;
    cursor: pointer;
    border-radius: 50%;
    background: #aaa;
    -webkit-box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7);
    box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7)
}

.mui-slider-indicator .mui-active.mui-indicator {
    background: #fff
}

.mui-slider-indicator .mui-icon {
    font-size: 20px;
    line-height: 30px;
    width: 40px;
    height: 30px;
    margin: 3px;
    text-align: center;
    border: 1px solid #ddd
}

.mui-slider-indicator .mui-number {
    line-height: 32px;
    display: inline-block;
    width: 58px
}

.mui-slider-indicator .mui-number span {
    color: #ff5053
}

.mui-slider-progress-bar {
    z-index: 1;
    height: 2px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.mui-slider-cell {
    position: relative
}

.mui-slider-cell>.mui-slider-handle {
    z-index: 1
}

.mui-slider-cell>.mui-slider-left,
.mui-slider-cell>.mui-slider-right {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0
}

.mui-slider-cell>.mui-slider-left {
    left: 0
}

.mui-slider-cell>.mui-slider-right {
    right: 0
}
