<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
      <style type="text/css">
      	body {
      	    padding: 0;
      	    margin: 0;
      	}
      </style>
</head>
<body>
  <div id="app">
    <el-row :gutter="24" style="margin: 0;">
      <el-col :span="6">&nbsp;</el-col>
      <el-col :span="12">
          <h2 style="text-align: center;">欢迎使用MIPCMS内容管理系统</h2>
          <p style="text-align: center;">交流QQ群576199348</p>
          <p style="text-align: center;"><a href="http://demo.mipcms.com/article/c0de4338a4625a748932f2e8.html">安装不成功？点击查看原因</a></p>
          <el-form ref="form" :rules="rules" :model="form" label-width="120px">
              <el-form-item label="数据库地址" prop="dbhost">
                <el-input v-model="form.dbhost"></el-input>
              </el-form-item>
              <el-form-item label="数据库端口" prop="dbport">
                <el-input v-model="form.dbport"></el-input>
              </el-form-item>
              <el-form-item label="数据库用户名" prop="dbuser">
                <el-input v-model="form.dbuser"></el-input>
              </el-form-item>
              <el-form-item label="数据库密码" prop="dbpw">
                <el-input type="password" v-model="form.dbpw"></el-input>
              </el-form-item>
              <el-form-item label="数据库名称" prop="dbname">
                <el-input v-model="form.dbname"></el-input>
              </el-form-item>
              <el-form-item label="数据表前缀" prop="dbprefix">
                <el-input v-model="form.dbprefix"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="submitForm('form')">立即创建</el-button>
              </el-form-item>
            </el-form>
      </el-col>
    </el-row>
    
  </div>
</body>
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script src="/assets/js/utils.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?176a0355c10aafbb44f1f5838bb6275d";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  <script>
    new Vue({
      el: '#app',
      data: function(){
        return {
             form: {
                  dbhost: '127.0.0.1',
                  dbport: '3306',
                  dbuser: 'root',
                  dbpw: '',
                  dbname: '',
                  dbprefix: 'mip_',
                },
            rules: {
                dbhost: [
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
                dbport: [
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
                dbuser: [
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
                dbpw: [
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
                dbname: [
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
                username: [
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
                password: [
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
                rpasswrod: [
                    { required: true, message: '必填项', trigger: 'blur' },
                ],
            }
        }
      },
      methods: {
        submitForm:function(formName) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                        var _this = this
                        this.$mip.ajax('/install/installPost', {
                            'dbhost': this.form.dbhost,
                            'dbport': this.form.dbport,
                            'dbuser': this.form.dbuser,
                            'dbpw': this.form.dbpw,
                            'dbname': this.form.dbname,
                            'dbprefix': _this.form.dbprefix,
                        }).then(function (res) {
                            if (res.code == 1) {
                               location.href="/"
                            } else {
                                Vue.prototype.$message({
                                    type: 'error',
                                    message: res.msg
                                });
                            }
                        });
              } else {
                return false;
              }
            });
          },
        }
    })
  </script>
</html>