<!DOCTYPE html>
<html mip>
<head>
    <meta charset="utf-8">
    <meta name="applicable-device" content="mobile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>{block name='mipTitle'}{$mipTitle}{/block}</title>
    <meta name="keywords" content="{block name='mipKeywords'}{$mipKeywords}{/block}">
    <meta name="description" content="{block name='mipDescription'}{$mipDescription}{/block}">
    <link rel="shortcut icon" href="{$domain}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v1/mip.css">
    <link rel="stylesheet" type="text/css" href="{$domainStatic}/{$assets}/{$tplName}/css/mipcms-m.css">
    <style mip-custom>
    
    {block name="style"}{/block}
    </style>
    <link rel="canonical" href="{$siteUrl}">
</head>
<body>
{if condition='$mipInfo["guanfanghaoStatus"]'}{$mipInfo['guanfanghaoCambrian']}{/if}
<mip-fixed type="top">
<header class="mip-nav-wrapper mui-bar-nav">
    {if condition='$act=="articleDetail"'}
    <mip-history history="back" class="mip-history-default mipcms-back">
        <span class="back"></span>
    </mip-history>
    {else/}
     <a data-type="mip" data-title='首页' href="{$domain}" class="mipcms-back">
        <span class="home"></span>
    </a>
     {/if}
    <h1 class="mui-title">{$mipInfo['siteName']}</h1>
</header>
</mip-fixed>
<main class="mip-main" id="mip_main">
  {block name="main"}{/block}
</main>
<footer>
    <p class="text-center">&copy;<?php echo date('Y'); ?> <a data-type="mip" href="{$domain}" data-title="{$mipInfo['siteName']}">{$mipInfo['siteName']}</a> <a href="{$domain}/sitemap.xml">sitemap.xml</a> Powered By <a data-type="mip" data-title='MIPCMS内容管理系统'  href="https://www.mipcms.com" target="_blank">MIPCMS</a>{$mipInfo['statistical']} </p>
</footer>
<mip-fixed type="gototop">
    <mip-gototop></mip-gototop>
</mip-fixed>
{block name="script"}
<script src="https://c.mipcdn.com/static/v1/mip.js"></script>
<script src="https://c.mipcdn.com/static/v1/mip-stats-baidu/mip-stats-baidu.js"></script>
<script src="https://c.mipcdn.com/static/v1/mip-sidebar/mip-sidebar.js"></script>
<script src="https://c.mipcdn.com/static/v1/mip-gototop/mip-gototop.js" type="text/javascript" charset="utf-8"></script>
<script src="https://c.mipcdn.com/static/v1/mip-history/mip-history.js" type="text/javascript" charset="utf-8"></script>
<script src="https://c.mipcdn.com/static/v1/mip-fixed/mip-fixed.js" type="text/javascript" charset="utf-8"></script>
<script src="https://c.mipcdn.com/extensions/platform/v1/mip-cambrian/mip-cambrian.js"></script>
{/block}
</body>
</html>