
.mui-popover {
    position: absolute;
    z-index: 999;
    display: none;
    width: 280px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none;
    opacity: 0;
    border-radius: 7px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1)
}

.mui-popover .mui-popover-arrow {
    position: absolute;
    z-index: 1000;
    top: -25px;
    left: 0;
    overflow: hidden;
    width: 26px;
    height: 26px
}

.mui-popover .mui-popover-arrow:after {
    position: absolute;
    top: 19px;
    left: 0;
    width: 26px;
    height: 26px;
    content: ' ';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 3px;
    background: #f7f7f7
}

.mui-popover .mui-popover-arrow.mui-bottom {
    top: 100%;
    left: -26px;
    margin-top: -1px
}

.mui-popover .mui-popover-arrow.mui-bottom:after {
    top: -19px;
    left: 0
}

.mui-popover.mui-popover-action {
    bottom: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    border-radius: 0;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.mui-popover.mui-popover-action .mui-popover-arrow {
    display: none
}

.mui-popover.mui-popover-action.mui-popover-bottom {
    position: fixed
}

.mui-popover.mui-popover-action.mui-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.mui-popover.mui-popover-action .mui-table-view {
    margin: 8px;
    text-align: center;
    color: #007aff;
    border-radius: 4px
}

.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc
}

.mui-popover.mui-popover-action .mui-table-view small {
    font-weight: 400;
    line-height: 1.3;
    display: block
}

.mui-popover.mui-active {
    display: block;
    opacity: 1
}

.mui-popover .mui-bar~.mui-table-view {
    padding-top: 44px
}

.mui-backdrop {
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3)
}

.mui-bar-backdrop.mui-backdrop {
    bottom: 50px;
    background: 0 0
}

.mui-backdrop-action.mui-backdrop {
    background-color: rgba(0, 0, 0, .3)
}

.mui-backdrop-action.mui-backdrop,
.mui-bar-backdrop.mui-backdrop {
    opacity: 0
}

.mui-backdrop-action.mui-backdrop.mui-active,
.mui-bar-backdrop.mui-backdrop.mui-active {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    opacity: 1
}

.mui-popover .mui-btn-block {
    margin-bottom: 5px
}

.mui-popover .mui-btn-block:last-child {
    margin-bottom: 0
}

.mui-popover .mui-bar {
    -webkit-box-shadow: none;
    box-shadow: none
}

.mui-popover .mui-bar-nav {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.mui-popover .mui-scroll-wrapper {
    margin: 7px 0;
    border-radius: 7px;
    background-clip: padding-box
}

.mui-popover .mui-scroll .mui-table-view {
    max-height: none
}

.mui-popover .mui-table-view {
    overflow: auto;
    max-height: 300px;
    margin-bottom: 0;
    border-radius: 7px;
    background-color: #f7f7f7;
    background-image: none;
    -webkit-overflow-scrolling: touch
}

.mui-popover .mui-table-view:after,
.mui-popover .mui-table-view:before {
    height: 0
}

.mui-popover .mui-table-view .mui-table-view-cell:first-child,
.mui-popover .mui-table-view .mui-table-view-cell:first-child>a:not(.mui-btn) {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px
}

.mui-popover .mui-table-view .mui-table-view-cell:last-child,
.mui-popover .mui-table-view .mui-table-view-cell:last-child>a:not(.mui-btn) {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px
}

.mui-popover.mui-bar-popover .mui-table-view {
    width: 106px
}

.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell {
    padding: 11px 15px;
    background-position: 0 100%
}

.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell>a:not(.mui-btn) {
    margin: -11px -15px -11px -15px
}
