
input,
select,
textarea {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent
}

input:focus,
select:focus,
textarea:focus {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-modify: read-write-plaintext-only
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    line-height: 21px;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px 15px;
    -webkit-user-select: text;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none
}

input[type=search] {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 34px;
    text-align: center;
    border: 0;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .1)
}

input[type=search]:focus {
    text-align: left
}

textarea {
    height: auto;
    resize: none
}

select {
    font-size: 14px;
    height: auto;
    margin-top: 1px;
    border: 0!important;
    background-color: #fff
}

select:focus {
    -webkit-user-modify: read-only
}

.mui-input-group {
    position: relative;
    padding: 0;
    border: 0;
    background-color: #fff
}

.mui-input-group:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc
}

.mui-input-group:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc
}

.mui-input-group input,
.mui-input-group textarea {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.mui-input-group input[type=search] {
    background: 0 0
}

.mui-input-group input:last-child {
    background-image: none
}

.mui-input-row {
    clear: left;
    overflow: hidden
}

.mui-input-row select {
    font-size: 17px;
    height: 37px;
    padding: 0
}

.mui-input-row .mui-btn+input,
.mui-input-row label+input,
.mui-input-row:last-child {
    background: 0 0
}

.mui-input-group .mui-input-row {
    height: 40px
}

.mui-input-group .mui-input-row:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc
}

.mui-input-row label {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.1;
    float: left;
    width: 35%;
    padding: 11px 15px
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
    float: right;
    width: 65%;
    margin-bottom: 0;
    padding-left: 0;
    border: 0
}

.mui-input-row .mui-btn {
    line-height: 1.1;
    float: right;
    width: 15%;
    padding: 10px 15px
}

.mui-input-row .mui-btn~input,
.mui-input-row .mui-btn~select,
.mui-input-row .mui-btn~textarea {
    float: left;
    width: 85%;
    margin-bottom: 0;
    padding-left: 0;
    border: 0
}

.mui-button-row {
    position: relative;
    padding-top: 5px;
    text-align: center
}

.mui-input-group .mui-button-row {
    height: 45px
}

.mui-input-row {
    position: relative
}

.mui-input-row.mui-input-range {
    overflow: visible;
    padding-right: 20px
}

.mui-input-row .mui-inline {
    padding: 8px 0
}

.mui-input-row .mui-input-clear~.mui-icon-clear,
.mui-input-row .mui-input-password~.mui-icon-eye,
.mui-input-row .mui-input-speech~.mui-icon-speech {
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 0;
    width: 38px;
    height: 38px;
    text-align: center;
    color: #999
}

.mui-input-row .mui-input-clear~.mui-icon-clear.mui-active,
.mui-input-row .mui-input-password~.mui-icon-eye.mui-active,
.mui-input-row .mui-input-speech~.mui-icon-speech.mui-active {
    color: #007aff
}

.mui-input-row .mui-input-speech~.mui-icon-speech {
    font-size: 24px;
    top: 8px
}

.mui-input-row .mui-input-clear~.mui-icon-clear~.mui-icon-speech {
    display: none
}

.mui-input-row .mui-input-clear~.mui-icon-clear.mui-hidden~.mui-icon-speech {
    display: inline-block
}

.mui-input-row .mui-icon-speech~.mui-placeholder {
    right: 38px
}

.mui-input-row.mui-search .mui-icon-clear {
    top: 7px
}

.mui-input-row.mui-search .mui-icon-speech {
    top: 5px
}

.mui-checkbox,
.mui-radio {
    position: relative
}

.mui-checkbox label,
.mui-radio label {
    display: inline-block;
    float: none;
    width: 100%;
    padding-right: 58px
}

.mui-checkbox.mui-left input[type=checkbox],
.mui-radio.mui-left input[type=radio] {
    left: 20px
}

.mui-checkbox.mui-left label,
.mui-radio.mui-left label {
    padding-right: 15px;
    padding-left: 58px
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
    position: absolute;
    top: 4px;
    right: 20px;
    display: inline-block;
    width: 28px;
    height: 26px;
    border: 0;
    outline: 0!important;
    background-color: transparent;
    -webkit-appearance: none
}

.mui-checkbox input[type=checkbox][disabled]:before,
.mui-radio input[type=radio][disabled]:before {
    opacity: .3
}

.mui-checkbox input[type=checkbox]:before,
.mui-radio input[type=radio]:before {
    font-family: Muiicons;
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    color: #aaa;
    border-radius: 0;
    background: 0 0;
    -webkit-font-smoothing: antialiased
}

.mui-checkbox input[type=checkbox]:checked:before,
.mui-radio input[type=radio]:checked:before {
    color: #007aff
}

.mui-checkbox label.mui-disabled,
.mui-checkbox.mui-disabled label,
.mui-radio label.mui-disabled,
.mui-radio.mui-disabled label {
    opacity: .4
}

.mui-radio input[type=radio]:before {
    content: '\e411'
}

.mui-radio input[type=radio]:checked:before {
    content: '\e441'
}

.mui-checkbox input[type=checkbox]:before {
    content: '\e411'
}

.mui-checkbox input[type=checkbox]:checked:before {
    content: '\e442'
}

.mui-select {
    position: relative
}

.mui-select:before {
    font-family: Muiicons;
    position: absolute;
    top: 8px;
    right: 21px;
    content: '\e581';
    color: rgba(170, 170, 170, .6)
}

.mui-input-row .mui-switch {
    float: right;
    margin-top: 5px;
    margin-right: 20px
}

.mui-input-range input[type=range] {
    position: relative;
    width: 100%;
    height: 2px;
    margin: 17px 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    outline: 0;
    background-color: #999;
    -webkit-appearance: none!important
}

.mui-input-range input[type=range]::-webkit-slider-thumb {
    width: 28px;
    height: 28px;
    border-color: #0062cc;
    border-radius: 50%;
    background-color: #007aff;
    background-clip: padding-box;
    -webkit-appearance: none!important
}

.mui-input-range label~input[type=range] {
    width: 65%
}

.mui-input-range .mui-tooltip {
    font-size: 36px;
    line-height: 64px;
    position: absolute;
    z-index: 1;
    top: -70px;
    width: 64px;
    height: 64px;
    text-align: center;
    opacity: .8;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    text-shadow: 0 1px 0 #f3f3f3
}

.mui-search {
    position: relative
}

.mui-search input[type=search] {
    padding-left: 30px
}

.mui-search .mui-placeholder {
    font-size: 16px;
    line-height: 34px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 34px;
    text-align: center;
    color: #999;
    border: 0;
    border-radius: 6px;
    background: 0 0
}

.mui-search .mui-placeholder .mui-icon {
    font-size: 20px;
    color: #333
}

.mui-search:before {
    font-family: Muiicons;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    right: 50%;
    display: none;
    margin-top: -18px;
    margin-right: 31px;
    content: '\e466'
}

.mui-search.mui-active:before {
    font-size: 20px;
    right: auto;
    left: 5px;
    display: block;
    margin-right: 0
}

.mui-search.mui-active input[type=search] {
    text-align: left
}

.mui-search.mui-active .mui-placeholder {
    display: none
}