
.mui-modal {
    position: fixed;
    z-index: 999;
    top: 0;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    -webkit-transition: -webkit-transform .25s, opacity 1ms .25s;
    transition: transform .25s, opacity 1ms .25s;
    -webkit-transition-timing-function: cubic-bezier(.1, .5, .1, 1);
    transition-timing-function: cubic-bezier(.1, .5, .1, 1);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    background-color: #fff
}

.mui-modal.mui-active {
    height: 100%;
    -webkit-transition: -webkit-transform .25s;
    transition: transform .25s;
    -webkit-transition-timing-function: cubic-bezier(.1, .5, .1, 1);
    transition-timing-function: cubic-bezier(.1, .5, .1, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
}

.mui-android .mui-modal .mui-bar {
    position: static
}

.mui-android .mui-modal .mui-bar-nav~.mui-content {
    padding-top: 0
}
