
.mui-row:after,
.mui-row:before {
    display: table;
    content: ' '
}

.mui-row:after {
    clear: both
}

.mui-col-sm-1,
.mui-col-sm-10,
.mui-col-sm-11,
.mui-col-sm-12,
.mui-col-sm-2,
.mui-col-sm-3,
.mui-col-sm-4,
.mui-col-sm-5,
.mui-col-sm-6,
.mui-col-sm-7,
.mui-col-sm-8,
.mui-col-sm-9,
.mui-col-xs-1,
.mui-col-xs-10,
.mui-col-xs-11,
.mui-col-xs-12,
.mui-col-xs-2,
.mui-col-xs-3,
.mui-col-xs-4,
.mui-col-xs-5,
.mui-col-xs-6,
.mui-col-xs-7,
.mui-col-xs-8,
.mui-col-xs-9 {
    position: relative;
    min-height: 1px
}

.mui-row>[class*=mui-col-] {
    float: left
}

.mui-col-xs-12 {
    width: 100%
}

.mui-col-xs-11 {
    width: 91.66666667%
}

.mui-col-xs-10 {
    width: 83.33333333%
}

.mui-col-xs-9 {
    width: 75%
}

.mui-col-xs-8 {
    width: 66.66666667%
}

.mui-col-xs-7 {
    width: 58.33333333%
}

.mui-col-xs-6 {
    width: 50%
}

.mui-col-xs-5 {
    width: 41.66666667%
}

.mui-col-xs-4 {
    width: 33.33333333%
}

.mui-col-xs-3 {
    width: 25%
}

.mui-col-xs-2 {
    width: 16.66666667%
}

.mui-col-xs-1 {
    width: 8.33333333%
}

@media (min-width:400px) {
    .mui-col-sm-12 {
        width: 100%
    }
    .mui-col-sm-11 {
        width: 91.66666667%
    }
    .mui-col-sm-10 {
        width: 83.33333333%
    }
    .mui-col-sm-9 {
        width: 75%
    }
    .mui-col-sm-8 {
        width: 66.66666667%
    }
    .mui-col-sm-7 {
        width: 58.33333333%
    }
    .mui-col-sm-6 {
        width: 50%
    }
    .mui-col-sm-5 {
        width: 41.66666667%
    }
    .mui-col-sm-4 {
        width: 33.33333333%
    }
    .mui-col-sm-3 {
        width: 25%
    }
    .mui-col-sm-2 {
        width: 16.66666667%
    }
    .mui-col-sm-1 {
        width: 8.33333333%
    }
}