{extend name="pc/main/main"/}

{block name="title"}注册 - {__block__}{/block}
{block name='keywords'}注册{/block}
{block name='description'}注册{/block}
{block name="style"}
{__block__}
   
  
.login-reg-center {
    float:none;
    margin:0 auto;
    padding-top:20px;
    padding-bottom:50px;
}
.login-reg{
    visibility: hidden;
    min-height:300px;
   background: url(/assets/images/account/bg-white-lock.png);
    margin: 0 auto;
    margin-top:20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px
}
.login-reg .el-form-item__label{
    color:#fff;
}
.mip-reg-heading {
    margin: 0;
    padding: 20px 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #f1f1f1;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
}
.mip-reg-body{
    padding: 20px 70px 15px 0;
}
.captcha input{
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
}
.captcha .el-input-group__append{
    width:auto;
    padding:0;
    border:0;
    background-color:inherit;
    padding-left: 10px;
}
.captcha .el-input-group__append img{
    border-radius: 4px;    
}
.show {
    visibility: inherit;
}
.registrationAgreement {
    margin-top:-10px;
    margin-bottom:10px;
}
.registrationAgreement .el-checkbox {
    color:#fff;
}

.registrationAgreement .el-checkbox a,.registrationAgreement .el-button.el-button--text{
    color:#fff;
}
.registrationAgreement .el-button.el-button--text:hover{
    color:#00aaee;
}
{/block}

{block name="main"}
<div class="container" id="app">
    <div class="row">
    
        <aside class="col-md-5 login-reg-center">
               <section class="login-reg" :class="show">
                        <h3 class="mip-reg-heading">注册账号</h3>
                        <div class="mip-reg-body">
                            
                      <el-form ref="ruleForm" :rules="rules" :model="ruleForm" label-width="120px">
                          <el-form-item label="账号" prop="username">
                            <el-input v-model="ruleForm.username" placeholder="用户名/手机/邮箱"></el-input>
                          </el-form-item>  
                          <el-form-item label="密码" prop="password">
                            <el-input type="password" v-model="ruleForm.password" placeholder="请输入密码"></el-input>
                          </el-form-item>
                          <el-form-item label="重复密码" prop="rpassword">
                            <el-input type="password" v-model="ruleForm.rpassword" placeholder="重复输入密码"></el-input>
                          </el-form-item>
                          <el-form-item label="验证码" prop="captcha">
                              <div>
                                  <el-input class="captcha" v-model="ruleForm.captcha" placeholder="请输入4位字符">
                                    <template slot="append"><img @click="refreshCaptcha" :src="captchaImg" alt="点击刷新" style="width:100%;" /></template>
                                  </el-input>
                                </div>
                          </el-form-item>
                          <el-form-item label="" class="registrationAgreement" prop="registrationAgreement">
                               <el-checkbox v-model="registrationAgreementChecked">我同意</el-checkbox><el-button type='text' @click="viewRegistrationAgreement">《用户协议》</el-button>
                          </el-form-item>
                          <el-form-item>
                            <el-button type="primary" class="w-100" @click="submitForm('ruleForm')">注册</el-button>
                          </el-form-item>
                        </el-form>
                        
                        </div>
                </section>
        </aside>
    </div>
    <el-dialog title="用户协议" v-model="dialogRegistrationAgreement">
      <template>
          当您申请用户时，表示您已经同意遵守本规章。<br>
欢迎您加入本站点参与交流和讨论，本站点为社区，为维护网上公共秩序和社会稳定，请您自觉遵守以下条款：<br>
<br>
一、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：<br>
　（一）煽动抗拒、破坏宪法和法律、行政法规实施的；<br>
　（二）煽动颠覆国家政权，推翻社会主义制度的；<br>
　（三）煽动分裂国家、破坏国家统一的；<br>
　（四）煽动民族仇恨、民族歧视，破坏民族团结的；<br>
　（五）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br>
　（六）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br>
　（七）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br>
　（八）损害国家机关信誉的；<br>
　（九）其他违反宪法和法律行政法规的；<br>
　（十）进行商业广告行为的。<br>
<br>
二、互相尊重，对自己的言论和行为负责。<br>
三、禁止在申请用户时使用相关本站的词汇，或是带有侮辱、毁谤、造谣类的或是有其含义的各种语言进行注册用户，否则我们会将其删除。<br>
四、禁止以任何方式对本站进行各种破坏行为。<br>
五、如果您有违反国家相关法律法规的行为，本站概不负责，您的登录信息均被记录无疑，必要时，我们会向相关的国家管理部门提供此类信息。
      </template>
    </el-dialog>
</div>


<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 100%; width: 100%; z-index: -999999; position: fixed;">
    <img src="/assets/images/account/bg_2.jpg"></div>
{/block}

{block name="script"}
{__block__}
<script>
    {include file="pc/account/register.js"}
</script>
{/block}
