{extend name="pc/view/admin@main"/}

{block name="title"}{$articleModelName}设置 - {__block__}{/block}

{block name="style"}
{__block__}

<style type="text/css">
    .setting-list {
         
    }
    .setting-item {
        text-align: center;   
        padding: 25px;
    }
    .setting-item span{
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        color: #99a9bf;
    }
    .setting-item i {
        display: block;
        font-size: 24px;
        margin-bottom: 15px;
        color: #8492a6;
    }
</style>

{/block}
{block name="main"}
<div class="row">
    <div class="col-md-12">
        <section class="mip-box mip-default">
            <div class="mip-box-heading">
                <h3 class="left">{$articleModelName}设置</h3> 
            </div>
            <div class="mip-box-body">
               <div class="row setting-list">
                    <div class="col-lg-3 setting-item"><span><i class="mip-iconfont mip-tougao"></i>投稿</span></div>
                    <div class="col-lg-3 setting-item"><span><i class="mip-iconfont mip-pinglun"></i>评论</span></div>
                    <div class="col-lg-3 setting-item"><span><i class="mip-iconfont mip-biaoqian"></i>标签</span></div>
                    <div class="col-lg-3 setting-item"><span><i class="mip-iconfont mip-shoucang"></i>收藏</span></div>
                    <div class="col-lg-3 setting-item"><span><i class="mip-iconfont mip-like"></i>点赞</span></div>
                    <div class="col-lg-3 setting-item"><span><i class="mip-iconfont mip-fenyefu"></i>分页</span></div>
                    <div class="col-lg-3 setting-item"><span><i class="mip-iconfont mip-cengji"></i>层级</span></div>
                    <div class="col-lg-3 setting-item"><span><i class="mip-iconfont mip-cengji"></i>推送</span></div>
                    <div class="col-lg-3 setting-item"><span><i class="mip-iconfont mip-zidingyi"></i>自定义</span></div>
               </div>
            </div>
        </section>
    </div>
    
</div>
{/block}
{block name="dialog"}
    <el-dialog title="{$articleModelName}投稿设置" v-model="dialogSettingTougao">
        <el-form :model="settingTougao">
            
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogSettingTougao = false">取 消</el-button>
            <el-button type="primary" @click="dialogSettingTougao = false">确 定</el-button>
        </div>
    </el-dialog>
{/block}
{block name="javascript"}
{__block__}
<script>
    new Vue({
        el: '#app',
        data:{
                dialogSettingTougao: false,
            settingTougao: {
            },
        },
        mounted: function() {
            _this = this;
        },
        methods:{
             
        },
    })
</script>
{/block}