{extend name="pc/view/admin@main"/}

{block name="title"}搜索引擎 - {__block__}{/block}

{block name="style"}
{__block__}
<style>
.user-statistical .mip-box-body {
    padding-top: 0;
    padding-bottom: 0
}

.user-statistical .mip-iconfont {
    font-size: 35px;
    position: absolute;
    right: 0;
    bottom: 0px;
    color: #0AE;
    opacity: 0.2;
}

.user-statistical h3 {
    margin-top: 10px;
    color: #0AE;
    margin-bottom: 10px;
}

.user-statistical h3 .unit {
    display: none;
    color: #999;
    font-size: 12px;
}

.user-statistical p {
    color: #bababa;
    font-size: 14px;
}

</style>
{/block}
{block name="main"}

        <div class="row">
        <section class="col-lg-12">
           <div class="mip-box">
            <div class="mip-box-heading"><h3 class="left">蜘蛛抓取分析（百度）</h3></div>
                <div class="mip-box-body">
                     <div id="main" v-loading="loading" style="height:400px;"></div>
                    <template>
                        <el-table
                            :data="spidersList"
                            style="width: 100%">
                        <el-table-column
                            label="蜘蛛类型"
                            prop="type">
                        </el-table-column>
                        <el-table-column
                            label="抓取时间"
                            inline-template> 
                            <span>{{row.add_time|time}}</span>
                        </el-table-column>
                        <el-table-column
                            label="抓取链接"
                            prop="pageUrl">
                        </el-table-column>
                        
                        </el-table>
                    </template>

                </div>
            </div>
        </section>
      </div>
  
{/block}
{block name="javascript"}
{__block__}
<script src="/assets/plugin/echarts/echarts.min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
 

</style>
<script>
    new Vue({
        el: '#app',
        data:{
            spidersList: [],
            currentPage: 1,
            limit:10,
            loading: false,
            total: '',
            spiderEchart: '',
            spidersTodayList: {'pc':[],'pcRender':[],'mobile':[],'mobileRender':[]},
        },
        mounted: function() {
            this.getPageList();
            this.getSpidersTodayList('pc');
            this.getSpidersTodayList('pcRender');
            this.getSpidersTodayList('mobile');
            this.getSpidersTodayList('mobileRender');
            _this = this;
        },
        methods:{
            getPageList:function() {
                this.$mip.ajax('/api/spider/spidersSelect',{
                    page:this.currentPage,
                    limit:this.limit,
                }).then(function (res) {
                    if (res.code == 1) {
                        _this.spidersList = res.data.spidersList;
                        _this.total = res.data.total;
                    } else {
                        Vue.prototype.$message({
                            type: 'error',
                            message: res.msg
                        });
                    }
                });
            },
            
            getSpidersTodayList:function(type) {
                this.loading = true;
                this.$mip.ajax('/api/spider/spidersToday',{
                    type:type,
                }).then(function (res) {
                    if (res.code == 1) {
                        var tempData = res.data.spidersTodayList;
                        _this.spidersTodayList[type] = tempData;
                        _this.spidersTodayList[type].unshift(0);
                        _this.getSpiderEchart();
                    } else {
                        Vue.prototype.$message({
                            type: 'error',
                            message: res.msg
                        });
                    }
                    _this.loading = false;
                });
            },
            
            
            getSpiderEchart: function(){
                 this.spiderEchart = echarts.init(document.getElementById('main'));
                 option = {
                    title: {
                        text: '今日蜘蛛抓取分析'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['PC端蜘蛛','PC端渲染蜘蛛','移动端蜘蛛','移动端渲染蜘蛛']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['00','01','02','03','04','05','06','07','08','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name:'PC端蜘蛛',
                            type:'line',
                            stack: '页面数',
                            data:this.spidersTodayList.pc
                        },
                        {
                            name:'PC端渲染蜘蛛',
                            type:'line',
                            stack: '页面数',
                            data:this.spidersTodayList.pcRender
                        },
                        {
                            name:'移动端蜘蛛',
                            type:'line',
                            stack: '页面数',
                            data:this.spidersTodayList.mobile
                        },
                        {
                            name:'移动端渲染蜘蛛',
                            type:'line',
                            stack: '页面数',
                            data:this.spidersTodayList.mobileRender
                        }
                    ]
                };
                
                this.spiderEchart.setOption(option);
            }
        },
    })
</script>
{/block}