{extend name="admin/main"/}

{block name="title"}{$articleModelName}管理 - {__block__}{/block}

{block name="style"}
{__block__}
<style>
  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 33%;
  }
  .simditor-item .el-form-item__content{line-height: inherit;}
</style>
{/block}
{block name="main"}
<section class="mip-box" style="display: block;" :style="hiddenAction">
    <div class="mip-box-body">
        <div class="no-data-block text-center">
            <i class="mip-shuaxin mip-iconfont"></i>
            <p>加载中</p>
        </div>
    </div>
</section>
<section class="mip-box mip-default" style="display: none;" :style="showAction">
    <section class="mip-box-body">
        <el-tabs type="card" v-model="tabsValue" @tab-remove="removeTab">
            <el-tab-pane label="全部{$articleModelName}" name="list">
                <template>
                    <el-row :gutter="24" style="margin-bottom: 15px;">
                        <el-col :span="6">
                            <el-input
                                placeholder="标题/内容/发布者"
                                icon="search"
                                v-model="searchData"
                                :on-icon-click="handleSearchClick">
                            </el-input>
                        </el-col>
                        <el-col :span="18">
                            <el-button-group style="float: right;">
                              <el-button type="primary" @click="itemAddTap" icon="plus">发布{$articleModelName}</el-button>
                              <el-button type="primary" @click="itemsDel" icon="delete" :disabled="isDelDisabled">批量删除</el-button>
                            </el-button-group>
                        </el-col>
                    </el-row>
                    <el-table
                        v-loading="loading"
                        :data="articleList"
                        style="width: 100%"
                        @selection-change="handleListSelectionChange">
                        <el-table-column type="selection">
                        </el-table-column>
                        <el-table-column
                            label="文章ID"
                            prop="id">
                        </el-table-column>
                        <el-table-column
                            label="发布者"
                            inline-template>
                            <template>{{row.users.username}}</template>
                        </el-table-column>
                        <el-table-column
                            label="标题"
                            prop="title">
                        </el-table-column>
                        <el-table-column
                            label="创建时间"
                            inline-template>
                            <template>{{row.create_time | time}}</template>
                        </el-table-column>
                        <el-table-column
                            label="发布时间"
                            inline-template>
                            <template>{{row.publish_time | time}}</template>
                        </el-table-column>
                        <el-table-column
                            label="浏览"
                            prop="views">
                        </el-table-column>
                        <el-table-column
                            label="操作">
                            <template scope="scope">
                                <el-button
                                    size="small"
                                    type="danger"
                                    @click="articleDel(scope.$index, scope.row)">删除
                                </el-button>
                                <el-button
                                    size="small"
                                    type="info" 
                                    @click="articleEditTap(scope.$index, scope.row)">编辑
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[10, 20, 50]"
                        :page-size="limit"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total">
                    </el-pagination>
                </template>
            </el-tab-pane>
            
            <el-tab-pane label="分类管理" name="category">
                <template>
                    <el-row :gutter="24" style="margin-bottom: 15px;">
                        <el-col :span="24">
                              <el-button type="primary" class="pull-right"  @click="addCategoryDialog" icon="plus">添加分类</el-button>
                        </el-col>
                    </el-row>
                    <el-table
                        :data="category.categoryList"
                        style="width: 100%">
                        <el-table-column
                            prop="name"
                            label="分类名称">
                        </el-table-column>
                        <el-table-column
                            prop="id"
                            label="分类ID">
                        </el-table-column>
                        <el-table-column
                            prop="url_name"
                            label="别名">
                        </el-table-column>
                        <el-table-column
                            prop="keywords"
                            label="关键词">
                        </el-table-column>
                        <el-table-column
                            prop="description"
                            label="描述">
                        </el-table-column>
                        <el-table-column
                            label="操作">
                            <template scope="scope">
                                <el-button
                                    size="small"
                                    type="danger"
                                    @click="categoryDel(scope.$index, scope.row)">删除
                                </el-button>
                                <el-button
                                    size="small"
                                    type="info" 
                                    @click="categoryEditDialog(scope.$index, scope.row)">编辑
                                </el-button>
                        </template>
                        </el-table-column>
                    </el-table>
                </template>
            </el-tab-pane>
            
            <el-tab-pane label="发布{$articleModelName}" v-if="isShowTab"  name="newAdd" closable>
                <el-form ref="publish" :model="publish" label-width="80px">
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="标题">
                                <el-input v-model="publish.title" placeholder="请输入标题..."></el-input>
                            </el-form-item>
                            <el-form-item label="分类">
                                <el-select v-model="publish.cid" clearable  placeholder="请选择分类">
                                    <el-option v-for='item in publish.categoryList' :label="item.name" :value="item.id"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="时间">
                                <el-col :span="11">
                                    <el-date-picker type="datetime" placeholder="选择日期" v-model="publish.publish_time" style="width: 100%;"></el-date-picker>
                                </el-col>
                            </el-form-item>
                            <el-form-item label="标签">
                                 <el-select
                                    v-model="publish.tags"
                                    multiple
                                    filterable
                                    style="width: 355px;"
                                    allow-create
                                    placeholder="请选择标签,支持直接输入">
                                    <el-option
                                      v-for="item in publish.tagsList"
                                      :label="item.name"
                                      :value="item.name">
                                    </el-option>
                                  </el-select>
                            </el-form-item>
                            <el-form-item label="推荐">
                                <el-switch on-text="" off-text="" v-model="publish.is_recommend"></el-switch>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                        </el-col>
                    </el-row>
                    <el-form-item label="内容" class="simditor-item">
                        <textarea id="article_editor" class="simditor" placeholder="请输入内容..."></textarea>
                    </el-form-item>
                    <el-form-item class="pull-right">
                        <el-button type="primary" @click="publishPost">立即发布</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
        </el-tabs>
    </section>
</section>
{/block}
{block name="dialog"}
<el-dialog :title="category.dialogCategoryTitle" v-model="category.dialogCategory" size="tiny">
  <el-form :model="category" :rules="category.categoryRules" ref="category" label-width="90px">
    <el-form-item label="名称" prop="name">
      <el-input v-model="category.name" placeholder="例：搜索引擎优化"></el-input>
    </el-form-item>
    <el-form-item label="别名">
      <el-input placeholder="例：seo" v-model="category.url_name"></el-input>
    </el-form-item>
    <el-form-item label="关键词">
      <el-input type="textarea" v-model="category.keywords" placeholder="例：SEO,SEO优化,搜索引擎优化,网站排名"></el-input>
    </el-form-item>
    <el-form-item label="描述">
      <el-input type="textarea" v-model="category.description" placeholder="例：SEO是搜索引擎优化的简称，而MIPCMS始终把SEO放在首要位置" ></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="category.dialogCategory = false">取 消</el-button>
    <el-button type="primary" @click="categoryPost('category',category)">确 定</el-button>
  </div>
</el-dialog>
{/block}
{block name="javascript"}
{__block__}
    <link rel="stylesheet" type="text/css" href="/assets/plugin/simditor/styles/simditor.css" />

    <script type="text/javascript" src="/assets/plugin/simditor/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/plugin/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="/assets/plugin/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="/assets/plugin/simditor/scripts/uploader.js"></script>
    <script type="text/javascript" src="/assets/plugin/simditor/scripts/simditor.js"></script>
  
   <script type="text/javascript">
   	 {include file="/admin/article.js"}
   </script>
{/block}