{extend name="admin/main"/}

{block name="title"}权限管理 - {__block__}{/block}

{block name="style"}
<style type="text/css">

    .mip-hengxian {
        display: block;
        float: left;
        color: #eee;
    }
    .mip-zhijiao {
        margin-top: -5px;
        display: block;
        float: left;
        color: #eee;
        padding-left: 15px;
    }
    .level2 {
        padding-left: 10px;
        float: left;
    }
    .level3 {
        padding-left: 35px;
        float: left;
    }
    .el-table .clearfix {
        
        border-bottom: 1px solid rgb(223, 232, 236);
    }
    .el-table_1_column_72 {
        float: left;
        width: 33%;   
        padding: 10px 0;
    }
    .clearfix>.el-table_1_column_73 .cell {
        color: #999999;
    }
    .el-table_1_column_72 .el-tag {
        margin-left: 5px;
    }
    .el-table_1_column_73 {
        float: left;    
        width: 33%;
        padding: 10px 0;
    }
    .el-table_1_column_74 {
        float: left;
        width: 33%;    
        padding: 10px 0;
    }
</style>
{__block__}
 
{/block}
{block name="main"}
<section class="mip-box mip-default">
    <section class="mip-box-body">
        <template>
          <el-tabs v-model="rolesTabsActive" type="card" @tab-click="tapsClick">
            <el-tab-pane label="分组管理" name="groupManage">
                <el-row :gutter="24" class="m-b">
                    <el-col :span="24">
                        <el-button type="primary" @click="groupAddDialog" class="pull-right" icon="plus">新建分组</el-button>
                    </el-col>
                </el-row>
                <template>
                    <el-table
                      :data="groupList"
                      style="width: 100%">
                      <el-table-column
                        prop="group_id"
                        label="分组ID">
                      </el-table-column>
                      <el-table-column
                        prop="name"
                        label="角色名称">
                      </el-table-column>
                      <el-table-column
                        label="操作">
                        <template scope="scope">
                            <el-button
                            size="small"
                            type="danger"
                            @click="groupDelete(scope.$index, scope.row)"  :disabled="scope.row.group_id == 1 || scope.row.group_id == 2">删除</el-button>
                          <el-button
                            size="small"
                            type="info" 
                            @click="groupEditDialog(scope.$index, scope.row)">编辑</el-button>
                          <el-button
                            size="small"
                            type="success"
                            @click="groupAuthorization(scope.$index, scope.row)">授权</el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                  </template>
            </el-tab-pane>
            <el-tab-pane label="节点管理" name="nodeManage">
                <el-row :gutter="24" class="m-b">
                    <el-col :span="24">
                        <el-button type="primary" @click="nodeAddDialog" class="pull-right" icon="plus" :disabled="true">新建节点</el-button>
                    </el-col>
                </el-row>
                
                  <template>
                        <div class="el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition" style="width: 100%;">
                            <div class="el-table__header-wrapper" style="background-color: rgb(238, 242, 246);font-weight: 700;">
                                <div colspan="1" rowspan="1" class="el-table_1_column_72 is-leaf">
                                    <div class="cell">节点名称</div>
                                </div>
                                <div colspan="1" rowspan="1" class="el-table_1_column_73 is-leaf">
                                    <div class="cell">节点路径</div>
                                </div>
                                <div colspan="1" rowspan="1" class="el-table_1_column_74 is-leaf">
                                    <div class="cell">操作</div>
                                </div>
                            </div>
                            <div class="el-table__body-wrapper">
                                <div cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 100%;">
                                    <div v-for='(row,index) in nodeList'>
                                        <div class="">
                                            <div class="clearfix">
                                                <div class="el-table_1_column_72">
                                                    <div class="cell">
                                                        <span v-if='row.level == 1' class="level1"><i class="mip-hengxian mip-iconfont"></i></span>
                                                        <el-tag type="danger">{{row.title}}</el-tag>
                                                        <span v-if='row.level == 1'><el-tag type="danger">模块</el-tag></span>
                                                    </div>
                                                </div>
                                                <div class="el-table_1_column_73">
                                                    <div class="cell">{{row.name}}</div>
                                                </div>
                                                <div class="el-table_1_column_74">
                                                    <div class="cell">
                                                            <el-button
                                                            size="small"
                                                            type="danger"
                                                            :disabled="true">删除</el-button>
                                                          <el-button
                                                            size="small"
                                                            type="info" 
                                                            @click="nodeEditDialog(index, row)">修改</el-button>
                                                          <el-button
                                                            size="small"
                                                            type="success"
                                                            v-if='row.level != 3'
                                                            @click="nodeAddDialog(index, row)">添加</el-button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="" v-for='(item,index) in row._child'>
                                                <div class="clearfix">
                                                    <div class="el-table_1_column_72">
                                                        <div class="cell">
                                                            <span v-if='item.level == 2' class="level2"><i class="mip-zhijiao mip-iconfont"></i></span>
                                                             <el-tag type="warning">{{item.title}}</el-tag
                                                            <span v-if='item.level == 2'><el-tag type="warning">控制器</el-tag></span>
                                                        </div>
                                                    </div>
                                                    <div class="el-table_1_column_73">
                                                        <div class="cell">{{item.name}}</div>
                                                    </div>
                                                    <div class="el-table_1_column_74">
                                                        <div class="cell">
                                                                <el-button
                                                                size="small"
                                                                type="danger"
                                                                @click="nodeDelete(index, item)" :disabled="item.isdelete == 1">删除</el-button>
                                                              <el-button
                                                                size="small"
                                                                type="info" 
                                                                @click="nodeEditDialog(index, item)">修改</el-button>
                                                              <el-button
                                                                size="small"
                                                                type="success"
                                                                v-if='item.level != 3'
                                                                @click="nodeAddDialog(index, item)">添加</el-button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix" v-for='(sub,index) in item._child'>
                                                    <div class="el-table_1_column_72">
                                                        <div class="cell">
                                                            <span v-if='sub.level == 3' class="level3"> <i class="mip-zhijiao mip-iconfont"></i></span>
                                                             <span v-html='sub.title'></span>
                                                            <span v-if='sub.level == 1'><el-tag type="danger">模块</el-tag></span>
                                                            <span v-if='sub.level == 2'><el-tag type="warning">控制器</el-tag></span>
                                                            <span v-if='sub.level == 3'><el-tag type="success">方法</el-tag></span>
                                                        </div>
                                                    </div>
                                                    <div class="el-table_1_column_73">
                                                        <div class="cell">{{sub.name}}</div>
                                                    </div>
                                                    <div class="el-table_1_column_74">
                                                        <div class="cell">
                                                                <el-button
                                                                size="small"
                                                                type="danger"
                                                                @click="nodeDelete(index, sub)">删除</el-button>
                                                              <el-button
                                                                size="small"
                                                                type="info" 
                                                                @click="nodeEditDialog(index, sub)">修改</el-button>
                                                              <el-button
                                                                size="small"
                                                                type="success"
                                                                v-if='sub.level != 3'
                                                                @click="nodeAddDialog(index, sub)">添加</el-button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                  </template>
            </el-tab-pane>
          </el-tabs>
        </template>
    </section>
</section>
{/block}
{block name="dialog"}
<el-dialog :title="group.dialogGroupTitle" v-model="dialogGroup" size="tiny">
  <el-form :model="group" :rules="groupRules" ref="group" label-width="90px">
    <el-form-item label="角色名称" prop="name">
      <el-input v-model="group.name" auto-complete="off"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogGroup = false">取 消</el-button>
    <el-button type="primary" @click="groupAddPost('group',group)">确 定</el-button>
  </div>
</el-dialog>

<el-dialog :title="node.dialogNodeTitle" v-model="dialogNode" size="tiny">
  <el-form :model="node" :rules="nodeRules" ref="node" label-width="90px">
    <el-form-item label="所属上级">
        <el-select v-model="lastNodePid" placeholder="请选择">
            <el-option
              v-for="item in lastNodes"
              :label="item.label"
              :value="item.value">
            </el-option>
        </el-select>
    </el-form-item>
    <el-form-item label="节点名称" prop="title">
      <el-input v-model="node.title" auto-complete="off" placeholder="例：注册账号"></el-input>
    </el-form-item>
    <el-form-item label="节点路径" prop="name">
      <el-input v-model="node.name" auto-complete="off" placeholder="如：register"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogNode = false">取 消</el-button>
    <el-button type="primary" @click="nodeAddPost('node',node)">确 定</el-button>
  </div>
</el-dialog>
{/block}
{block name="javascript"}
{__block__}
<script>
    new Vue({
        el: '#app',
        data:{
            rolesTabsActive: 'groupManage',
            groupList: [],
            dialogGroup: false,
            group: {
                group_id:'',
                name:'',
                dialogGroupTitle:'新建角色'
            },
            groupRules: {
                name: [
                    { required: true, message: '请输入角色名称', trigger: 'blur' }
                ],
            },
            groupStatus: false,
            
            nodeList: [],
            dialogNode: false,
            node: {
                id: '',
                title: '',
                name:'',
                pid: 0,
                level: 0,
                dialogNodeTitle: '新建节点',
            },
            nodeRules: {
                title: [
                    { required: true, message: '请输入节点名称', trigger: 'blur' },
                ],
                name: [
                    { required: true, message: '请输入节点路径', trigger: 'blur' }
                ],
            },
            lastNodes: [],
            lastNodePid: '',
            nodeStatus: false,
        },
        mounted: function() {
            this.getGroupListData();
            this.getNodeListData();
        },
        methods:{
            tapsClick(tab, event) {
                
            },
            groupAuthorization: function(index,param) {
               window.location.href = '/admin/role_authorization?id='+param.group_id;
            },
            groupAddDialog() {
                this.groupStatus = false;
                this.group.name = '';
                this.group.group_id = '';
                this.group.dialogGroupTitle = '新建角色';
                this.dialogGroup = true;
            },
            groupAddPost(val,param) {
                 this.$refs[val].validate((valid) => {
                    if (valid) {
                        _this = this;
                        this.dialogGroup = false;
                        if (this.groupStatus == false) {
                            this.$mip.ajax('/api/User_group/userGroupAdd', {
                               name: this.group.name,
                            }).then(function (res) {
                                if (res.code == 1) {
                                    Vue.prototype.$message({
                                        type: 'success',
                                        message: res.msg
                                    });
                                    _this.getGroupListData();
                                } else {
                                    Vue.prototype.$message({
                                        type: 'error',
                                        message: res.msg
                                    });
                                }
                            });
                        } else {
                            this.$mip.ajax('/api/User_group/userGroupEdit', {
                               group_id: param.group_id,
                               name: this.group.name,
                            }).then(function (res) { 
                                if (res.code == 1) {
                                    Vue.prototype.$message({
                                        type: 'success',
                                        message: res.msg
                                    });
                                    _this.getGroupListData();
                                } else {
                                    Vue.prototype.$message({
                                        type: 'error',
                                        message: res.msg
                                    });
                                }
                            });
                        }
                    }
                });
            },
            groupDelete(index,val) {
                this.$confirm('此操作将永久删除, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    _this = this;
                    this.$mip.ajax('/api/User_group/userGroupDel', {
                       group_id: val.group_id,
                    }).then(function (res) { 
                        if (res.code == 1) {
                            Vue.prototype.$message({
                                type: 'success',
                                message: res.msg
                            });
                            _this.getGroupListData();
                        } else {
                            Vue.prototype.$message({
                                type: 'error',
                                message: res.msg
                            });
                        }
                    });
                }).catch(() => {
                    
                });
            },
            getGroupListData() {
                _this = this;
                this.$mip.ajax('/api/User_group/userGroupSelect',{
                    terminal: 'pc',
                }).then(function (res) {
                   if (res.code == 1) {
                        _this.groupList = res.data;
                    } else {
                        _this.$message({
                            type: 'error',
                            message: res.msg
                        });
                    } 
                });
            },
            groupEditDialog(index,row) {
                this.dialogGroup = true;
                this.groupStatus = true;
                this.group.name = row.name;
                this.group.group_id = row.group_id;
                this.group.dialogGroupTitle = '编辑角色';
            },
            
            nodeAddDialog(index,val) {
                this.nodeStatus = false;
                this.node.name = '';
                this.node.title = '';
                this.lastNodes = [];
                this.lastNodePid = '';
                this.dialogNode = true;
                if (val) {
                    if (val.level == 1) {
                        this.node.dialogNodeTitle = '添加控制器';
                        this.node.level = 2;
                        for (var i = 0; i < this.nodeList.length; i++) {
                            if (this.nodeList[i].level == 1) {
                                this.lastNodes.push({label:this.nodeList[i].title,value:this.nodeList[i].id});
                            }
                        }
                    } else {
                        this.node.dialogNodeTitle = '添加方法';
                        this.node.level = 3;
                        for (var j = 0; j < this.nodeList.length; j++) {
                            for (var i = 0; i < this.nodeList[j]._child.length; i++) {
                                if (this.nodeList[j]._child[i].level == 2) {
                                    this.lastNodes.push({label:this.nodeList[j]._child[i].title,value:this.nodeList[j]._child[i].id});
                                }
                            }
                        }
                    }
                    this.lastNodePid = val.id;
                } else {
                    this.node.dialogNodeTitle = '添加模块';
                    this.dialogNode = true;
                    this.lastNodes = [];
                    this.lastNodes = [{label:'最顶层级',value:0}];
                    this.lastNodePid = 0;
                    this.node.level = 1
                }
            },
            nodeAddPost(val,param) {
                this.$refs[val].validate((valid) => {
                    if (valid) {
                        _this = this;
                        this.dialogNode = false;
                        if (this.nodeStatus == false) {
                            this.$mip.ajax('/api/role/rolesNodeAdd', {
                               title: this.node.title,
                               name: this.node.name,
                               pid: this.lastNodePid,
                               status: 1,
                               level: this.node.level,
                            }).then(function (res) {
                                if (res.code == 1) {
                                    Vue.prototype.$message({
                                        type: 'success',
                                        message: res.msg
                                    });
                                    _this.getNodeListData();
                                } else {
                                    Vue.prototype.$message({
                                        type: 'error',
                                        message: res.msg
                                    });
                                }
                            });
                        } else {
                            this.$mip.ajax('/api/role/rolesNodeEdit', {
                               id: param.id,
                               title: this.node.title,
                               name: this.node.name,
                               pid: this.lastNodePid,
                               status: 1,
                               level: this.node.level,
                            }).then(function (res) { 
                                if (res.code == 1) {
                                    Vue.prototype.$message({
                                        type: 'success',
                                        message: res.msg
                                    });
                                    _this.getNodeListData();
                                } else {
                                    Vue.prototype.$message({
                                        type: 'error',
                                        message: res.msg
                                    });
                                }
                            });
                        }
                    }
                });
            },
            nodeDelete(index,val) {
                this.$confirm('此操作将永久删除, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    _this = this;
                    this.$mip.ajax('/api/role/rolesNodeDel', {
                       id: val.id,
                    }).then(function (res) { 
                        if (res.code == 1) {
                            Vue.prototype.$message({
                                type: 'success',
                                message: res.msg
                            });
                            _this.getNodeListData();
                        } else {
                            Vue.prototype.$message({
                                type: 'error',
                                message: res.msg
                            });
                        }
                    });
                }).catch(() => {
                    
                });
            },
            getNodeListData() {
                _this = this;
                this.$mip.ajax('/api/role/rolesNodeSelect',{
                    terminal: 'pc',
                }).then(function (res) {
                    if (res.code == 1) {
                        var nodeList = res.data;
                        _this.nodeList = nodeList;
                        for (var i = 0; i < _this.nodeList.length; i++) {
                            for (var j = 0; j < _this.nodeList[i]._child.length; j++) {
                                for (var n = 0; n < _this.nodeList[i]._child[j]._child.length; n++) {
                                    if (_this.nodeList[i]._child[j]._child.length != 0) {
                                        _this.nodeList[i]._child[j].isdelete = 1;
                                    }
                                }
                            }
                        }
                    } else {
                        _this.$message({
                            type: 'error',
                            message: res.msg
                        });
                    } 
                });
            },
            nodeEditDialog(index,val) {
                this.nodeStatus = true;
                this.node.name = val.name;
                this.node.title = val.title;
                this.node.id = val.id;
                this.lastNodes = [];
                this.dialogNode = true;
                if (val.level == 1) {
                    this.node.dialogNodeTitle = '修改模块';
                    this.node.level = 1;
                    this.lastNodePid = 0;
                    this.lastNodes = [{label:'最顶层级',value:0}];
                } 
                this.lastNodePid = val.pid;
                if (val.level == 2) {
                    this.node.dialogNodeTitle = '修改控制器';
                    this.node.level = 2;
                    for (var i = 0; i < this.nodeList.length; i++) {
                        if (this.nodeList[i].level == 1) {
                            this.lastNodes.push({label:this.nodeList[i].title,value:this.nodeList[i].id});
                        }
                    }
                }
                if (val.level == 3) {
                    this.node.dialogNodeTitle = '修改方法';
                    this.node.level = 3;
                    for (var j = 0; j < this.nodeList.length; j++) {
                        for (var i = 0; i < this.nodeList[j]._child.length; i++) {
                            if (this.nodeList[j]._child[i].level == 2) {
                                this.lastNodes.push({label:this.nodeList[j]._child[i].title,value:this.nodeList[j]._child[i].id});
                            }
                        }
                    }
                }
            },
        
        },

    })
</script>
{/block}