{extend name="admin/main"/}

{block name="style"}
{__block__}
<style>
.el-tree>.el-tree-node.is-expanded>.el-tree-node__children>.el-tree-node.is-expanded>.el-tree-node__children>.el-tree-node.is-expanded {
    float: left;
}
.el-tree>.el-tree-node.is-expanded>.el-tree-node__children>.el-tree-node.is-expanded>.el-tree-node__children>.el-tree-node.is-expanded>.el-tree-node__content:hover {
    background-color: #fff;
}
.el-tree-node__content {
    overflow: hidden;
}
.el-tree-node__expand-icon {
    visibility: hidden;
}

.el-tree>.el-tree-node.is-expanded>.el-tree-node__content {
    
}
.el-tree>.el-tree-node.is-expanded>.el-tree-node__children>.el-tree-node.is-expanded {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.el-tree>.el-tree-node.is-expanded>.el-tree-node__children>.el-tree-node.is-expanded:before{
    position: absolute;
    color: #999;
    margin-left: 30px;
    margin-top: 8px;
    font-family:"mip-iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e600";   
}
.el-tree>.el-tree-node.is-expanded>.el-tree-node__children>.el-tree-node.is-expanded>.el-tree-node__children>.el-tree-node.is-expanded:nth-child(1):before {
    position: absolute;
    color: #999;
    margin-left: 60px;
    margin-top: 8px;
    font-family:"mip-iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e600";    
}
</style>
{/block}
{block name="main"}
<section class="mip-box mip-default">
  <section class="mip-box-heading">
  <h3>授权</h3>
  </section>
  <section class="mip-box-body">
        <el-tree
          :data="rolesNodeList"
          show-checkbox
          default-expand-all
          node-key="id"
          ref="tree"
          indent='30' 
            :expand-on-click-node="false"
          :props="defaultProps">
        </el-tree>
        <div class="text-center m-t"><el-button type="primary" @click='authorizationClick'>确认授权</el-button></div>
  </section>
</section>
  
{/block}
{block name="javascript"}
{__block__}
<script>
    new Vue({
        el: '#app',
        data:{
            rolesNodeList: [],
            rolesAccessList: [],
            defaultProps: {
                children: '_child',
                label: 'title'
            }
        },
        mounted: function() {
            this.getRolesNode();
        },
        methods:{
            authorizationClick: function() {
                var checkedNodesData = this.$refs.tree.getCheckedNodes();
                _this = this;
                this.$mip.ajax('/api/role/rolesAccessAdd',{
                    nodes: checkedNodesData,
                    group_id: this.$utils.getUrlParam('id'),
                }).then(function (res) {
                    if (res.code == 1) {
                        Vue.prototype.$message({
                            type: 'success',
                            message: res.msg
                        });
                    } else {
                        _this.$message({
                            type: 'error',
                            message: res.msg
                        });
                    } 
                });
            },
            getRolesNode: function() {
                _this = this;
                this.$mip.ajax('/api/role/rolesNodeSelect',{
                }).then(function (res) {
                    if (res.code == 1) {
                        var nodeList = res.data;
                        _this.rolesNodeList = nodeList;
                        _this.getRolesAccess();
                    } else {
                        _this.$message({
                            type: 'error',
                            message: res.msg
                        });
                    } 
                });
            },
            getRolesAccess: function() {
                 _this = this;
                this.$mip.ajax('/api/role/rolesAccessSelect',{
                    group_id: this.$utils.getUrlParam('id'),
                }).then(function (res) {
                    if (res.code == 1) {
                        var rolesAccessList = res.data;
                        _this.rolesAccessList = rolesAccessList;
                        var nodeKey = [];
                        for (var i = 0; i < rolesAccessList.length; i++) {
                        	nodeKey.push(rolesAccessList[i].node_id)
                        }
                        _this.$refs.tree.setCheckedKeys(nodeKey);
                    } else {
                        _this.$message({
                            type: 'error',
                            message: res.msg
                        });
                    } 
                });
            },
        },

    })
</script>
{/block}