{extend name="admin/main"/}

{block name="title"}{$userModelName}管理 - {__block__}{/block}

{block name="style"}
{__block__}
<style>
  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 33%;
  }
</style>
{/block}
{block name="main"}
<section class="mip-box mip-default">
  <section class="mip-box-body">
    <el-tabs type="card" v-model="tabsValue" @tab-remove="removeTab">
      <el-tab-pane label="全部{$userModelName}" name="list">
        <template>
          <el-row :gutter="24" style="margin-bottom: 15px;">
            <el-col :span="6">
              <el-input
                placeholder="UID/用户名/邮箱/手机/QQ"
                icon="search"
                v-model="searchData"
                :on-icon-click="handleSearchClick">
              </el-input>
      
            </el-col>
            <el-col :span="18">
              <el-button-group style="float: right;">
                <el-button type="primary" @click="addItem" icon="plus">新建{$userModelName}</el-button>
                <el-button type="primary" @click="delItems" icon="delete" :disabled="isDelDisabled">批量删除</el-button>
              </el-button-group>
            </el-col>
          </el-row>
          <el-table
            v-loading="loading"
            :data="usersList"
            style="width: 100%"
            @selection-change="handleListSelectionChange">
            <el-table-column type="selection"></el-table-column>
            <el-table-column type="expand">
              <template scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                  <el-form-item label="分组">
                     <template>{{ props.row.group_id}}</template>
                  </el-form-item>
                  <el-form-item label="注册时间">
                      <template>{{ props.row.reg_time | formatTime }}</template>
                  </el-form-item>
                  <el-form-item label="登录次数">
                      <template>{{ props.row.login_num }} 次</template>
                  </el-form-item>
                  
                  <el-form-item label="注册ip">
                      <template>{{ props.row.reg_ip }}</template>
                  </el-form-item>
                  <el-form-item label="最后登录ip">
                      <template>{{ props.row.last_login_ip }}</template>
                  </el-form-item>
                  <el-form-item label="账号状态">
                      <template>{{ props.row.status == 0 ? '正常' : '禁用' }}</template>
                  </el-form-item>
                  <el-form-item label="好友数">
                      <template>{{ props.row.friend_num }} 位</template>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column
           
              label="用户ID"
              prop="uid">
            </el-table-column>
            <el-table-column
              label="用户名"
              prop="username">
            </el-table-column>
            <el-table-column
                inline-template
                label="性别">
                <template>{{row.sex == 1 ? '男' : '女'}}</template>
            </el-table-column>
            <el-table-column
                label="邮箱"
                inline-template
                prop="email">
                <template>{{row.email || '-' }}</template>
            </el-table-column>
            <el-table-column
                inline-template
                label="手机">
                <template>{{row.mobile || '-' }}</template>
            </el-table-column>
            <el-table-column
                inline-template
                label="Q Q">
                <template>{{row.qq || '-' }}</template>
            </el-table-column>
            <el-table-column
                label="最后登录"
                inline-template>
                <template>{{row.last_login_time | formatTime}}</template>
            </el-table-column>
            <el-table-column
              label="操作">
              <template scope="scope">
                <el-button
                  size="small"
                  @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button
                  size="small"
                  type="danger"
                  @click="handleDelete(scope.$index, scope.row)">删除</el-button>
              </template>
            </el-table-column>
        </el-table>
          <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-sizes="[10, 20, 50, 100]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total">
            </el-pagination>
          </template>
      </el-tab-pane>
    <el-tab-pane label="新建{$userModelName}" v-if="isShowTab"  name="newAdd" closable>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="用户名" prop="username">
                <el-input v-model="ruleForm.username"></el-input>
            </el-form-item>
            <el-popover
              ref="password"
              placement="top-start"
              width="600"
              trigger="hover"
              content='编辑状态下，不填写，表示不修改此用户密码。新建时，必须输入密码'>
            </el-popover>
            <div class="el-form-item" prop='password'>
               <label for="name" class="el-form-item__label" style="width: 100px;"> <span class="mip-iconfont mip-wenhao" v-popover:password></span> 密码</label>
                <div class="el-form-item__content" style="margin-left: 100px;">
                    <div class="el-input">
                        <el-input type="password" v-model="ruleForm.password"></el-input>
                    </div>
                </div>
            </div>
            
            
            <el-form-item label="性别">
                <el-radio-group v-model="ruleForm.sex">
                <el-radio label="1">男</el-radio>
                <el-radio label="2">女</el-radio>
            </el-radio-group>
            </el-form-item>
            <el-form-item label="分组">
                <el-select v-model="ruleForm.group_id" :disabled='currentSisabled' placeholder="请选择">
                    <el-option
                        v-for="item in ruleForm.groupList"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="邮箱" prop="email">
                <el-input v-model="ruleForm.email"></el-input>
            </el-form-item>
            <el-form-item label="手机" prop="mobile">
                <el-input v-model="ruleForm.mobile"></el-input>
            </el-form-item>
            <el-form-item label="QQ" prop="qq">
                <el-input v-model="ruleForm.qq"></el-input>
            </el-form-item>
            <el-form-item label="签名" prop="signature">
                <el-input type="textarea" v-model="ruleForm.signature"></el-input>
            </el-form-item>
          
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
            </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </section>
</section>
  
{/block}
{block name="javascript"}
{__block__}
    <script type="text/javascript">
    	{include file="/admin/user.js"}
    </script>
{/block}