{extend name="main/main"/}

{block name="style"}{__block__}
    {include file="main/css/mip/mip-media-list.css"}
    {include file="main/css/mip/bootstrap-pagination.css"}
    .mui-bar .mui-segmented-control {
        top:4px;
    }
    ul {
        list-style:none;
    }
    .page-control {
        overflow: hidden;
        text-align: center;
    }
    .pagination {
        float: initial;
    }
{/block}

{block name="main"}
    <ul class="mui-table-view m-t-header">
        {mipcms:article value='v' tagIds='$tagInfo["id"]' page='$tagInfo["page"]' limit='10'}
            {include file="article/articleBlock"/}
        {/mipcms:article}
    </ul>
    {$pagination}
</div>

{/block}
{block name="script"}{__block__}{/block}
