
{extend name="main/main"/}
{block name="style"}

{block name="so"}
{__block__}
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_wm0lx5dg3606n7b9.css"/>
{/block}
<style type="text/css">
    {__block__}
 .no-data-block {
    height: 300px;
    padding-top: 80px;
}

.no-data-block img {
    margin: 0 auto;
    width: 60px;
    position: relative;
}

.no-data-block p {
    margin-top: 15px;
    color: #c3d1d6;
}

 
.tag-header {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EFEFEF;
}

 .tag-header .tag-img {
    border: 1px solid #C3D1D6;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 5px;
    border-radius: 3px;
    margin-right: 15px;
}
.tag-header .mip-biaoqian {
     font-size: 35px;
     margin-bottom: 10px;
}
.tag-header .tag-info-content {
}
.tag-header .tag-info-content h2 {
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 20px;
}
.tag-header .tag-info-content p {
    color: #666;
    margin-bottom: 0;
}

{/block}
</style>
{block name="main"}

  <div class="container">
    <div class="row">
                    
             
        <main class="col-lg-8">
            
            <section class="mip-box mip-box-default">
                <section class="mip-box-body">
                    <div class="tag-header">
                        <div class="tag-img">
                            <i class="mip-iconfont mip-biaoqian"></i>
                        </div>
                        <div class="tag-info-content">
                            <h2>{$tagInfo['name']}</h2>
                            <p>{$tagInfo['description']}</p>
                        </div>
                    </div>
                     <div class="mipui-widget-media-body mipui-category-list-001">
                        {mipcms:article value='v' tagIds='$tagInfo["id"]' page='$tagInfo["page"]' limit='10'}
                            {include file='block/article-list'}
                        {/mipcms:article}
                    </div>
                    {$pagination}
                </section>
            </section>
        </main>         
               
        <aside class="col-lg-4">
            {include file='block/tags-hot'}
        </aside>
    </div>
</div>
{/block}

{block name="script"}
{__block__}
{/block}