<aside class="side-box mip-box" style="height: calc(100% - 50px - 92px);bottom: 15px;">
    <section class="side-box-body">
        <section class="side-list">
            <div class="mip-box-body">
            <ul>
                <li class="nav-item {if condition='$cid == ""'}active{/if}"><a href="{$domain}/{$Think.config.admin}/{$itemUrl}/{$currentListUrl}/"><Icon type="ios-list-outline"></Icon> 全部{$itemName}</a></li>
                {mipcms:tagscategory value='v' pid='0'}
                <li class="nav-item {if condition='$cid == $v["id"]'}active{/if}">
                    <a href="{$domain}/{$Think.config.admin}/{$itemUrl}/{$currentListUrl}/cid-{$v.id}"><Icon type="ios-minus-empty"></Icon> {$v.name}</a>
                    <ul class="list-unstyled children">
                        {foreach name='$v["sub"]' id='val'}
                        <li class="{if condition='$cid == $val["id"]'}active{/if}"><a href="{$domain}/{$Think.config.admin}/{$itemUrl}/{$currentListUrl}/cid-{$val.id}" title="{$val['name']}"><Icon type="ios-minus-empty" class='one'></Icon><Icon type="ios-minus-empty" class='two'></Icon> <span>{$val['name']}</span></a></li>
                        {/foreach}
                    </ul>
                </li>
                {/mipcms:tagscategory}
                <li class="nav-item {if condition='$cid == 0 && $cid != ""'}active{/if}"><a href="{$domain}/{$Think.config.admin}/{$itemUrl}/{$currentListUrl}/cid-0"><Icon type="ios-minus-empty"></Icon> 无分类</a></li>
            </ul>
            <div class="pt-3">
                <a href="{$domain}/{$Think.config.admin}/{$itemUrl}/{$itemUrl}Category/" class="ivu-btn ivu-btn-dashed ivu-btn-long"><i class="ivu-icon ivu-icon-ios-plus-empty"></i> <span>添加分类</span></a>
            </div>
            </div>
        </section>
    </section>
</aside>