
.mip-article-list-001 {
  padding-left: 0
}

.mip-article-list-001 .list {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding-bottom: 15px
}

.mip-article-list-001 .list .list-img {
  display: table-cell;
  vertical-align: top;
  float: left;
  padding-right: 15px
}

.mip-article-list-001 .list .list-img .list-img-a {
  width: 230px;
  height: 155px;
  display: block;
  position: relative;    
}

.mip-article-list-001 .list .block {
  width: 100%!important
}

.mip-article-list-001 .list .list-content {
  position: relative;
  vertical-align: top;
  height: 139px;
  zoom: 1;
  width: 477px;
  float: left;
}
@media only screen and (max-width: 768px) {
    .mip-article-list-001 .list .list-content {
      width: auto;
    }
}
.mip-article-list-001 .list .list-content .title {
  display: block;
  line-height: 1.3;
  margin: 0 0 9px
}

.mip-article-list-001 .list .list-content .info {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.mip-article-list-001 .list .list-content .info li {
  padding-right: 10px;
  float: left;
  color: #999
}

.mip-article-list-001 .list .list-content .info li a {
  color: #999
}

.mip-article-list-001 .list:after {
  display: block;
  content: "clear";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden
}

.li-box-list {
  line-height: 30px;
  position: relative
}

.li-box-list:after,
.li-box-list:before {
  content: " ";
  display: table
}

.li-box-list a {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.li-box-list p {
  margin-top: 0;
  font-size: 12px;
  color: #999;
  line-height: 15px
}

.list-time {
    line-height: 30px;
    position: relative
}

.list-time:before,.list-time:after {
    content: " ";
    display: table
}

.list-time:after {
    clear: both
}

.list-time a {
    float: left;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 80px;
    width: 100%
}

.list-time time {
    position: absolute;
    right: 0;
    color: #BABABA
}
