    
.login-reg-center {
    float:none;
    margin:0 auto;
    padding-top:20px;
    padding-bottom:50px;
}
.login-reg{
    visibility: hidden;
    min-height:300px;
   background: url(../../images/account/bg-white-lock.png);
    margin: 0 auto;
    margin-top:20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px
}
.login-reg .el-form-item__label{
    color:#fff;
}
.mip-reg-heading {
    margin: 0;
    padding: 20px 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #f1f1f1;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
}
.mip-reg-body{
    padding: 20px 70px 15px 0;
}
.captcha input{
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
}
.captcha .el-input-group__append{
    width:auto;
    padding:0;
    border:0;
    background-color:inherit;
    padding-left: 10px;
}
.captcha .el-input-group__append img{
    border-radius: 4px;    
}
.show {
    visibility: inherit;
}
.registrationAgreement {
    margin-top:-10px;
    margin-bottom:10px;
}
.registrationAgreement .el-checkbox {
    color:#fff;
}

.registrationAgreement .el-checkbox a,.registrationAgreement .el-button.el-button--text{
    color:#fff;
}
.registrationAgreement .el-button.el-button--text:hover{
    color:#00aaee;
}