{if condition='$crumb'}
<div class="container">
    <ul class="breadcrumb">
        {if condition='$crumbDomain'}
        <li>
            <a href="{$domain}" data-type='mip' data-title="{$mipInfo.siteName}">{$mipInfo.siteName}</a>
        </li>
        {/if}
        {if condition='$crumbCategory'}
        <li><a href="{$crumbCategoryUrl}" data-type='mip' data-title="{$crumbCategoryName}">{$crumbCategoryName}</a></li>
        {/if}
        {if condition='$crumbCategorySub'}
        <li><a href="{$crumbCategorySubUrl}" data-type='mip' data-title="{$crumbCategorySubName}">{$crumbCategorySubName}</a></li>
        {/if}
        {if condition='$crumbDetail'}
        <li class="hidden-xs"><a data-type='mip' href="{$crumbDetailUrl}" data-title="{$crumbDetailName}">{$crumbDetailName}</a></li>
        {/if}
    </ul>
</div>
{/if}
