{extend name="view/admin@main"/}

{block name="title"}{$userModelName}管理 - {__block__}{/block}

{block name="style"}
{__block__}
{/block}
{block name="main"}
<section class="mip-box mip-default">
  <section class="mip-box-body">
    <el-tabs type="card" v-model="tabsValue" @tab-remove="removeTab">
      <el-tab-pane label="全部{$userModelName}" name="list">
        <template>

          <el-row :gutter="24" style="margin-bottom: 15px;">
            <el-col :span="6">
              <el-input placeholder="UID/用户名/邮箱/手机/QQ" icon="search" v-model="searchData" :on-icon-click="handleSearchClick"> </el-input>
            </el-col>
            <el-col :span="18">
              <el-button-group style="float: right;">
                <el-button type="primary" @click="addItem" icon="plus">新建{$userModelName}</el-button>
                <el-button type="primary" @click="delItems" icon="delete" :disabled="isDelDisabled">批量删除</el-button>
              </el-button-group>
            </el-col>
          </el-row>

          <el-table v-loading="loading" :data="usersList" @selection-change="handleListSelectionChange">
            <el-table-column type="selection" width="30"></el-table-column>
            <el-table-column type="expand" width="40">
              <template scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                  <el-form-item label="分组">
                     <template>{{ props.row.group_id}}</template>
                  </el-form-item>
                  <el-form-item label="注册时间">
                      <template>{{ props.row.reg_time | formatTime }}</template>
                  </el-form-item>
                  <el-form-item label="登录次数">
                      <template>{{ props.row.login_num }} 次</template>
                  </el-form-item>

                  <el-form-item label="注册ip">
                      <template>{{ props.row.reg_ip }}</template>
                  </el-form-item>
                  <el-form-item label="最后登录ip">
                      <template>{{ props.row.last_login_ip }}</template>
                  </el-form-item>
                  <el-form-item label="账号状态">
                      <template>{{ props.row.status == 0 ? '正常' : '禁用' }}</template>
                  </el-form-item>
                  <el-form-item label="好友数">
                      <template>{{ props.row.friend_num }} 位</template>
                  </el-form-item>
                    <el-form-item label="邮箱">
                        <template>{{props.row.email || '-' }}</template>
                    </el-form-item>
                    <el-form-item label="手机">
                        <template>{{props.row.mobile || '-' }}</template>
                    </el-form-item>
                    <el-form-item label="Q Q">
                        <template>{{props.row.qq || '-' }}</template>
                    </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column label="UID" prop="uid" width="70" show-overflow-tooltip></el-table-column>
            <el-table-column label="用户名" inline-template width="180">
                <div class="avatar-username"><img src="/{$assets}/common/images/avatar.jpg" class="avatar-img"/><span class="username"> {{row.username}}</span></div>
            </el-table-column>
            <el-table-column inline-template label="用户组" width="90">
                <template><span :class="row.usernameColor">{{row.usersGroup ? row.usersGroup.name : '-' }}</span></template>
            </el-table-column>
            <el-table-column inline-template label="性别" width="60">
                <template>{{row.sex == 1 ? '男' : '女'}}</template>
            </el-table-column>
            <el-table-column label="注册时间" inline-template width="160">
                <template>{{row.reg_time | formatTime}}</template>
            </el-table-column>
            <el-table-column label="最后登录" inline-template width="160">
                <template>{{row.last_login_time | formatTime}}</template>
            </el-table-column>
            <el-table-column label="在线时长" inline-template >
                <template>-</template>
            </el-table-column>
            <el-table-column label="操作" width="100">
                <template scope="scope">
                     <el-dropdown  size="small"  type="primary" trigger="click" split-button @click="handleEdit(scope.$index, scope.row)">
                      <span>编辑</span>
                      <el-dropdown-menu slot="dropdown" class="dropdown-menu">
                        <el-dropdown-item><div @click="handleEdit(scope.$index, scope.row)"><i class="el-icon-edit"></i> 编辑{$userModelName}</div></el-dropdown-item>
                        <el-dropdown-item divided><div @click="handleDelete(scope.$index, scope.row)" class="red"><i class="el-icon-delete"></i> 删除{$userModelName}</div></el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>
        </el-table>
          <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-sizes="[10, 20, 50, 100]"
              :page-size="limit"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total">
            </el-pagination>
          </template>
      </el-tab-pane>
    <el-tab-pane label="新建{$userModelName}" v-if="isShowTab"  name="newAdd" closable>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="用户名" prop="username">
                <el-input v-model="ruleForm.username"></el-input>
            </el-form-item>
            <el-popover ref="password" placement="top-start" width="600" trigger="hover" content='编辑状态下，不填写，表示不修改此用户密码。新建时，必须输入密码'></el-popover>
            <div class="el-form-item" prop='password'>
               <label for="name" class="el-form-item__label" style="width: 100px;"> <span class="mip-iconfont mip-wenhao" v-popover:password></span> 密码</label>
                <div class="el-form-item__content" style="margin-left: 100px;">
                    <div class="el-input">
                        <el-input type="password" v-model="ruleForm.password"></el-input>
                    </div>
                </div>
            </div>

            <el-form-item label="性别">
                <el-radio-group v-model="ruleForm.sex">
                <el-radio label="1">男</el-radio>
                <el-radio label="2">女</el-radio>
            </el-radio-group>
            </el-form-item>
            <el-form-item label="分组">
                <el-select v-model="ruleForm.group_id" :disabled='currentSisabled' placeholder="请选择">
                    <el-option
                        v-for="item in ruleForm.groupList"
                        :label="item.label"
                        :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="邮箱" prop="email">
                <el-input v-model="ruleForm.email"></el-input>
            </el-form-item>
            <el-form-item label="手机" prop="mobile">
                <el-input v-model="ruleForm.mobile"></el-input>
            </el-form-item>
            <el-form-item label="QQ" prop="qq">
                <el-input v-model="ruleForm.qq"></el-input>
            </el-form-item>
            <el-form-item label="签名" prop="signature">
                <el-input type="textarea" v-model="ruleForm.signature"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
            </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </section>
</section>

{/block}
{block name="javascript"}
{__block__}
    <script type="text/javascript">
     new Vue({
        el: '#app',
        data:{
            tabsValue:'list',
            isShowTab:false,
            searchData:"",
            isDelDisabled:true,
            usersList:'',
            multipleSelection:[],
            loading: false,
            currentPage: 1,
            currentStatus: 'publish',
            currentSisabled: false,
            limit:10,
            total:this.total,
            ruleForm: {
                username: '',
                password: '',
                rpassword: '',
                sex: '0',
                groupList: [],
                group_id: '',
                email: '',
                mobile: '',
                qq: '',
                signature: '',
                uid: '',
            },
            rules: {
                username: [
                  { required: true, message: '请输入用户名', trigger: 'blur' },
                  { min: 2, max: 25, message: '长度在 2 到25 个字符', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: '请输入密码', trigger: 'blur' },
                  { min: 5, max: 25, message: '长度在 5 到25 个字符', trigger: 'blur' }
                ],
                rpassword: [
                  { min: 5, max: 25, message: '长度在 5 到25 个字符', trigger: 'blur' }
                ],
            }
        },
        mounted: function() {
            this.getPageList();
            this.getGroupList();
            _this = this;
        },
        methods:{
            removeTab:function(targetName) {
                this.tabsValue = 'list';
                this.isShowTab = false;
                this.$refs['ruleForm'].resetFields();
            },
            handleSizeChange:function(val) {
                this.limit = val;
                this.getPageList();
            },
            handleCurrentChange:function(val) {
                this.currentPage = val;
                this.getPageList();
            },
            handleSearchClick:function() {
                this.getPageList();
                this.$message({
                    message: '尚未开通'
                });
            },
            addItem:function() {
                this.currentStatus = 'publish';
                this.currentSisabled = true;
                this.tabsValue = "newAdd";
                this.ruleForm.uid = '';
                this.ruleForm.group_id = 2;
                this.ruleForm.username = '';
                this.ruleForm.password = '';
                this.ruleForm.sex = '1';
                this.ruleForm.email = '';
                this.ruleForm.mobile = '';
                this.ruleForm.qq = '';
                this.ruleForm.signature = '';
                this.isShowTab = true;
            },

            delItems:function() {
                var uids = [];
                for (var i = 0; i < this.multipleSelection.length; i++) {
                    uids.push(this.multipleSelection[i].uid);
                }
                uids = uids.join(',');
                this.$mip.ajax('/ApiAdmin/Api_admin_user/usersDel',{
                    uids:uids,
                }).then(function (res) {
                    if(res.status==200){
                        if (res.code == 1) {
                            Vue.prototype.$message({
                              type: 'success',
                              message: res.msg
                            });
                            this.getPageList();
                        } else {
                            Vue.prototype.$message({
                                type: 'error',
                                message: res.msg
                            });
                        }
                    }
                })
            },
            handleListSelectionChange:function(val) {
                this.multipleSelection = val;
                if(val.length == 0) {
                    this.isDelDisabled = true;
                } else {
                    this.isDelDisabled = false;
                }
            },
            handleEdit:function(index, row) {
                this.tabsValue = "newAdd";
                this.isShowTab = true;
                this.currentStatus = 'edit';
                this.currentSisabled = false;
                this.ruleForm.group_id = row.group_id;
                this.ruleForm.uid = row.uid;
                this.ruleForm.username = row.username;
                this.ruleForm.password = '';
                this.ruleForm.sex = row.sex + "";
                this.ruleForm.email = row.email;
                this.ruleForm.mobile = row.mobile;
                this.ruleForm.qq = row.qq;
                this.ruleForm.signature = row.signature;
            },
            handleDelete:function(index, row) {
                this.$confirm('此操作将永久删除该内容, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$mip.ajax('/ApiAdmin/Api_admin_user/userDel',{
                        uid:row.uid,
                    }).then(function (res) {
                        if (res.code == 1) {
                            Vue.prototype.$message({
                              type: 'success',
                              message: res.msg
                            });
                            _this.getPageList();
                        } else {
                            Vue.prototype.$message({
                                type: 'error',
                                message: res.msg
                            });
                        }
                    })

                }).catch(() => {
                    return false;
                });
            },
            getPageList:function() {
                this.loading = true;
                this.$mip.ajax('/ApiAdmin/Api_admin_user/usersSelect',{
                    page:this.currentPage,
                    status:'all',
                    limit:this.limit,
                }).then(function (res) {
                    if (res.code == 1) {
                        var usersList = res.data.usersList;
                        for (var i = 0; i < usersList.length; i++) {
                            if (usersList[i].group_id == 1) {
                                usersList[i].usernameColor = 'black';
                            }
                            if (usersList[i].group_id == 3) {
                                usersList[i].usernameColor = 'red';
                            }
                        }
                        _this.usersList = usersList
                        _this.total = res.data.total;
                    } else {
                        Vue.prototype.$message({
                            type: 'error',
                            message: res.msg
                        });
                    }
                    _this.loading = false;
                });
            },
            getGroupList:function() {
                this.loading = true;
                this.$mip.ajax('/ApiAdmin/Api_admin_user_group/userGroupSelect',{
                }).then(function (res) {
                    if (res.code == 1) {
                        var groupList = res.data;
                        for (var i = 0; i < groupList.length; i++) {
                            groupList[i].value = groupList[i].group_id;
                            groupList[i].label = groupList[i].name;
                        }
                        _this.ruleForm.groupList = groupList;
                        console.log(_this.ruleForm);
                    } else {
                        Vue.prototype.$message({
                            type: 'error',
                            message: res.msg
                        });
                    }
                    _this.loading = false;
                });
            },
            submitForm(formName) {
                if (this.currentStatus == 'edit') {
                    _this = this;
                    this.$mip.ajax('/ApiAdmin/Api_admin_user/userEdit',{
                        uid:this.ruleForm.uid,
                        username:this.ruleForm.username,
                        password:this.ruleForm.password ? md5(this.ruleForm.password) : '',
                        sex:parseInt(this.ruleForm.sex),
                        group_id: parseInt(this.ruleForm.group_id),
                        email:this.ruleForm.email,
                        mobile:this.ruleForm.mobile,
                        qq:this.ruleForm.qq,
                        signature:this.ruleForm.signature,
                        status:0,
                    }).then(function (res) {
                        if (res.code == 1) {
                            _this.tabsValue = 'list';
                            _this.isShowTab = false;
                            _this.$refs[formName].resetFields();
                            _this.getPageList();
                        } else {
                            Vue.prototype.$message({
                                type: 'error',
                                message: res.msg
                            });
                        }
                    });

                } else {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            if (!this.ruleForm.password) {
                                Vue.prototype.$message({
                                    type: 'warning',
                                    message: '请输入密码'
                                });
                                return false;
                            }
                            _this = this;
                            this.$mip.ajax('/ApiAdmin/Api_admin_user/userCreate',{
                                terminal:'pc',
                                username:this.ruleForm.username,
                                password:md5(this.ruleForm.password),
                                sex: parseInt(this.ruleForm.sex),
                                group_id: parseInt(this.ruleForm.group_id),
                                email:this.ruleForm.email,
                                mobile:this.ruleForm.mobile,
                                qq:this.ruleForm.qq,
                                signature:this.ruleForm.signature,
                            }).then(function (res) {
                                if (res.code == 1) {
                                    _this.tabsValue = 'list';
                                    _this.isShowTab = false;
                                    _this.$refs[formName].resetFields();
                                    _this.getPageList();
                                } else {
                                    Vue.prototype.$message({
                                        type: 'error',
                                        message: res.msg
                                    });
                                }
                            });
                        } else {
                          return false;
                        }
                    });
                }
            },
        }
    });

    </script>
{/block}