{extend name="./app/admin/view/main.html" /}
{block name="title"}{$indexTitle} - {__block__}{/block}
{block name="style"}
<style>
    
.user-statistical .mip-box-body {
}

.user-statistical .mip-iconfont {
    font-size: 35px;
    position: absolute;
    right: 0;
    bottom: 0px;
    color: #0AE;
    opacity: 0.2;
}

.user-statistical h3 {
    font-size: 20px;
    color: #0AE;
}

.user-statistical h3 .unit {
    display: none;
    color: #999;
    font-size: 12px;
}

.user-statistical p {
    color: #bababa;
    font-size: 14px;
}
.line {
    line-height: 30px;
}
.copyright-info p {
    line-height: 30px;
}
</style>
{/block}

{block name="main"}
<main class="mipcms-container-body">
    <div class="row">
            <section class="col-lg-8">
               <div class="mip-box">
                <div class="mip-box-heading"><h3 class="left">系统信息</h3></div>
                    <div class="mip-box-body copyright-info">
                        <p><b>软件名称：</b>MIPCMS内容管理系统</p>
                        <p><b>当前版本：</b>{$mipInfo['localCurrentVersion']}</p>
                        <p><b>联系方式：</b>85249417</p>
                        <p><b>版权归属：</b>苏州三三云网络科技有限公司</p>
                    </div>
                </div>
            </section>
            <section class="col-lg-4">
                <div class="mip-box">
                    <div class="mip-box-heading"><h3 class="left">官网公告</h3></div>
                    <div class="mip-box-body">
                        <ul class="list-unstyled">
                            <li class="list-time line" v-for="item in gonggaoList" ><a :href="item.url" target="_blank" v-html='item.title'></a></li>
                        </ul>
                    </div>
                </div>
                <div class="mip-box">
                    <div class="mip-box-heading"><h3 class="left">功能介绍</h3></div>
                    <div class="mip-box-body">
                        <ul class="list-unstyled">
                            <li class="list-time line" v-for="item in functionList" ><a :href="item.url" target="_blank" v-html='item.title'></a></li>
                        </ul>
                    </div>
                </div>
            </section>
          </div>
</main>
{/block}
    
{block name="javascript"}
{__block__}
<script type="text/javascript" src="https://cdn.staticfile.org/echarts/3.5.0/echarts.simple.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            usersList: [],
            gonggaoList:[],
            functionList: [],
           
        },
        watch: {
        },
        mounted() {
            this.getGonggaoList();
            this.getFunctionList();
        },
        methods: {
                 
            getGonggaoList:function() {
                this.$mip.ajax('//www.mipcms.cn/api/open/gonggaoList',{
                },'global').then(res => {
                    if (res.code == 1) {
                       this.gonggaoList = res.data.gonggaoList;
                    }
                });
            },

            getFunctionList:function() {
                this.$mip.ajax('//www.mipcms.cn/api/open/functionList',{
                },'global').then(res => {
                    if (res.code == 1) {
                        this.functionList = res.data.functionList;
                    }
                });
            }, 
         }
    })
  </script>
{/block}